$timeline: #CCD5DB;
@import "../../../vars.scss";
.container{
  padding: 15px 50px;
}
.navigation{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
}
.grid{
  border-bottom: 1px solid black;
  // border-top: 1px solid black;
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  .schedule{
    border-right: 1px solid black;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
      font-family: "Kerad";
      text-transform: uppercase;
    }
    p{
      text-align: center;
      padding: 1rem;
    }
  }
  .right{
    display: flex;
    flex-direction: column;
    width: 50%;
    .countdown{
      border-bottom: 1px solid black;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      span{
        font-family: "Kerad";
        text-transform: uppercase;
        font-style: italic;
        color: $forest;
      }
    }
    .groupme{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .group-qr{
        height: 100px;
      }
    }
  }
}
.photos{
  border-bottom: 1px solid black;
  h2{
    color: black;
    font-family: "Kerad";
    text-transform: uppercase;
    font-size: 2rem;
  }
}
.party{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .person{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1rem;
      min-width: 150px;
      .profile{
        img{
          height: 100px;
          width: 100px;
          border-radius: 100%;
          margin: 10px;
          object-fit: cover;
        }
      }
      .party-icon{
          height: 50px;
          margin: 10px;
          opacity: .75;
      }
      svg{
          margin: 1rem;
      }
      .name,.title{
          text-align: center;
          // margin: 5px;
          font-size: .9rem;
      }
      .name{
          // color: $navy;
          font-family: "Poppins";
          margin: 3px;
          font-weight: 300;
      }
      .title{
          color: $sage;
          font-family: "Kerad";
          font-style: italic;
          text-transform: uppercase;
          font-size: .75rem;
      }
  }
}
.footer{
  display: flex;
  height: 50vh;
  border-bottom: 1px solid black;
  box-sizing: border-box;

  .cell{
    flex: 0 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    h2{
      color: black;
      font-family: "Kerad";
      text-transform: uppercase;
      font-size: 2rem;
    }
    .cell-background{
      left: 10px;
      position: absolute;
      height: 95%;
      width: 95%;
      top: 10px;
      box-sizing: border-box;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom right;
      background-color: $neutral-background;
      opacity: 30%;
      z-index: -1;
    }
    &:first-child{
      border-right: 1px solid black;
    }
  }
  .lodging{
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    i{
      color: black;
      margin-right: 10px;
    }
    &:hover{
      h2{
        color: $forest;
      }
      
      i{
        color: $forest;
      }
    }
  }
  .map{
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    a{
      font-family: "Kerad";
      text-transform: uppercase;
      font-style: italic;
      font-size: 1.2rem;
    }
  }
}
.photo-banner{
  width:100%;
  height: 20vh;
  opacity: 60%;
  background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-color: $neutral-background;
}
.slides-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
.page-header{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    h1{
        color: $forest;
        font-size: 2rem;
    }
    .header-content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo{
          height: 75px;
          margin-bottom: 1rem;
        }
    }
    // &:before {

    //     filter: saturate(100%)  brightness(100%) opacity(40%) blur(2px);
    //     background-image: url("~src/assets/images/palms.jpg");
    //     content: " ";
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     box-sizing: border-box;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position: bottom right;
    //     z-index: -1;
    
    //   }
}
.dates{
    // background-color: $sage;
    padding: 2rem;
    @media screen and (max-width: 600px) { 
      padding: 0px;
    }
    .dates-title{
        color: $sand;
    }
}
.events{
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    .event{
        // margin: 3rem;
        // width: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
          p{
              text-align: justify;
              font-size: 13px;
          }
    }
}
.tl-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
  // &:hover{
  //   i{
  //     color: $forest;
  //   }
  // }
}
.select-header{
    display: flex;
    align-items: center;
    justify-content: center;
    i{
        margin: 0px 50px;
    }
}
.timeline{
    // background: rgba(255, 255, 255, 0.2);
    // // background: $dark-background;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(10px);
    // -webkit-backdrop-filter: blur(10px);
    // border: 1px solid rgba(255, 255, 255, 0.3);
    // padding: 15px;
    // border-radius: 20px;
    width: 80%;
    @mixin tablet-and-up {
        @media screen and (min-width: 769px) { @content; }
    }
    @mixin mobile-and-up {
        @media screen and (min-width: 601px) { @content; }
    }
    @mixin tablet-and-down  {
        @media screen and (max-width: 768px) { @content; }
    }
    @mixin mobile-only {
        @media screen and (max-width: 600px) { @content; }
    }
    
    
    ul, li{
      list-style: none;
      padding: 0;
    }
    
    // .container{
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   padding: 0 1rem;
    //   background: linear-gradient(45deg, #209cff, #68e0cf);
    //   padding: 3rem 0;
    // }
    // .wrapper{
    //   background: #eaf6ff;
    //   padding: 2rem;
    //   border-radius: 15px;
    // }
    // h1{
    //   font-size: 1.1rem;
    //   font-family: sans-serif;
    // }
    .sessions{
    //   margin-top: 2rem;
    //   border-radius: 12px;
      position: relative;
    }
    li{
      padding-bottom: 1rem;
      border-left: 1px solid $dark-background;
      position: relative;
      padding-left: 20px;
      margin-left: 10px;
      &:last-child{
        border: 0px;
        padding-bottom: 0;
      }
      &.end{
        border: 0px;
        padding-bottom: 0;
      }
      &:before{
        content: '';
        width: 15px;
        height: 15px;
        background: white;
        border: 1px solid $forest;
        box-shadow: 3px 3px 0px $sage;
        box-shadow: 3px 3px 0px $sage;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: 0px;
      }
    }
    .indent{
      margin-left: 10px;
      .content{
        font-size: .8rem;
        font-family: $paragraph;
        ::ng-deep p{
          font-size: .8rem;
          margin: 10px 0;
        }
      }
    }
    .event-title{
        text-align: left;
        font-size: 1rem;
        text-transform: uppercase;
        font-family: 'Kerad';
        color: $sage;
        font-style: italic;
        margin:10px 0;
    }
    .time{
      text-align: left;
      font-size: 1rem;
      line-height: 1.2rem;
      text-transform: uppercase;
      font-family: 'Argue';
      color: $forest;
    }
    .event-group{
      display: flex;
      text-transform: uppercase;
      font-family: $paragraph;
      color: $sage;
      align-items: center;
      i{
        margin-right: 10px;
        color: $sage;
      }
      &.location{
        font-size: .8rem;
      }
    }
    .big-time{
        text-transform: uppercase;
        font-family: 'Kerad';
        font-style: italic;
        text-align: center;
        color: $beaver;
        font-size: 1.5rem;
        margin: 1.2rem 0;
        background: none;
        border: none;
        border-bottom: 1px solid $beaver;
        cursor: pointer;
        padding: 15px;
        &:hover{
            color: $forest;
        }
        &:focus{
            outline: none;
            color: $forest;
        }
           
      @include mobile-and-up{
        font-size: 1.5rem;
      }
      @include mobile-only{
        margin-bottom: .3rem;
        font-size: 1.5rem;
      }
    
    }
    p{
      color: #4f4f4f;
      line-height: 1.5;
    //   @include mobile-only{
        font-size: .8rem;
    //   }
    }
}
.event{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  img{
    width: 30vw;
  }
  h2{
    text-transform: uppercase;
    font-family: 'Kerad';
    text-align: left;
  }
  .date-time{
    text-transform: uppercase;
    font-family: 'Kerad';
    text-align: left;
    color: $sage;
  }
}
.list{
    p {
        margin: 0;
        line-height: 1.6;
    }
    
    ol {
        list-style: none;
        counter-reset: list;
        padding: 0 1rem;

        > li {
            --stop: calc(100% / var(--length) * var(--i));
            --l: 62%;
            --l2: 88%;
            --h: calc(180 - ((var(--i) - 1) * (180 / var(--length))));
            --c1: hsl(var(--h), 71%, var(--l));
            --c2: hsl(var(--h), 71%, var(--l2));
            
            position: relative;
            counter-increment: list;
            max-width: 45rem;
            margin: 2rem auto;
            padding: 2rem 1rem 1rem;
            box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
            border-radius: 0.25rem;
            overflow: hidden;
            background-color: white;
        }
        
        > li::before {
            content: '';
            display: block;
            width: 100%;
            height: 1rem;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop));
        }
    }
    

    
    h3 {
        display: flex;
        align-items: baseline;
        margin: 0 0 1rem;
        color: rgb(70 70 70);
    }

    .header{
        display: flex;
        flex-direction: row;
        i{
            margin-right: 1.5rem;
            color: var(--c1);
        }
    }
    
    // h3::before {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     flex: 0 0 auto;
    //     margin-right: 1rem;
    //     width: 3rem;
    //     height: 3rem;
    //     content: counter(list);
    //     padding: 1rem;
    //     border-radius: 50%;
    //     background-color: var(--c1);
    //     color: white;
    // }
    
    @media (min-width: 40em) {
        
        ol{
            > li {
                margin: 3rem auto;
                padding: 3rem 2rem 2rem;
            }
        }
        
        h3 {
            font-size: 2.25rem;
            margin: 0 0 2rem;
        }
        
        h3::before {
            margin-right: 1.5rem;
        }
    }
    .checks{
        ul {
            list-style: none;
            margin: 5px;
            background: white;
            border-radius: 10px;
            padding: 0;
            width: 100%;
            box-sizing: border-box;
          
            .cb-wrapper {
              position: relative;
              width: 100%;
            }
          }
          
          input {
            -webkit-appearance: none;
            width: 1.25rem;
            height: 1.25rem;
            border: 1px solid hsl(0, 0%, 85%);
            border-radius: 1px;
            vertical-align: sub;
            position: absolute;
            top: 42%;
            transform: translateY(-50%);
            left: 1rem;
            outline: none;

            &.big{
                width: 1.5rem;
                height: 1.5rem;
                top: 2rem;
            }
          
            &:checked {
              background-color: $dark-background;
              border-color: $dark-background;
          
              & + label {
                text-decoration: line-through;
                color: $dark-background;
                font-weight: 600;
                background-color: $light-background;
                .chip{
                    background-color: $dark-background;
                    color: $light-background;
                }
                i{
                    color: $dark-background;
                }
              }
          
              &:focus,
              &:hover {
                box-shadow: 0 0 0 3px hsl(0, 0%, 85%);
                border-color: $dark-background;
              }
            }
          
            &:after {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjZmZmZmZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCI+PHRpdGxlPmljb25fYnlfUG9zaGx5YWtvdjEwPC90aXRsZT48ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz48ZyBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZyBmaWxsPSIjZmZmZmZmIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNi4wMDAwMDAsIDI2LjAwMDAwMCkiPjxwYXRoIGQ9Ik0xNy45OTk5ODc4LDMyLjQgTDEwLjk5OTk4NzgsMjUuNCBDMTAuMjI2Nzg5MSwyNC42MjY4MDE0IDguOTczMTg2NDQsMjQuNjI2ODAxNCA4LjE5OTk4Nzc5LDI1LjQgTDguMTk5OTg3NzksMjUuNCBDNy40MjY3ODkxNCwyNi4xNzMxOTg2IDcuNDI2Nzg5MTQsMjcuNDI2ODAxNCA4LjE5OTk4Nzc5LDI4LjIgTDE2LjU4NTc3NDIsMzYuNTg1Nzg2NCBDMTcuMzY2ODIyOCwzNy4zNjY4MzUgMTguNjMzMTUyOCwzNy4zNjY4MzUgMTkuNDE0MjAxNCwzNi41ODU3ODY0IEw0MC41OTk5ODc4LDE1LjQgQzQxLjM3MzE4NjQsMTQuNjI2ODAxNCA0MS4zNzMxODY0LDEzLjM3MzE5ODYgNDAuNTk5OTg3OCwxMi42IEw0MC41OTk5ODc4LDEyLjYgQzM5LjgyNjc4OTEsMTEuODI2ODAxNCAzOC41NzMxODY0LDExLjgyNjgwMTQgMzcuNzk5OTg3OCwxMi42IEwxNy45OTk5ODc4LDMyLjQgWiI+PC9wYXRoPjwvZz48L2c+PC9nPjwvc3ZnPg==");
              background-size: 40px;
              background-repeat: no-repeat;
              background-position: center;
              
            }
          
            &:focus,
            &:hover {
              box-shadow: 0 0 0 3px hsl(0, 0%, 92%);
              border-color: $dark-background;
            }
          }
          li{
            border-bottom: 2px solid $neutral-background;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            i{
                margin-right: 12px;
                font-size: .9rem;
            }
          }
          
          label {
            font-family: $paragraph;
            font-weight: 300;
            border-radius: 10px;
            padding: 0.75rem 1rem 0.75rem calc(2rem * 2.25);
            display: inline-block;
            font-size: 17px;
            width: 100%;
            user-select: none;
            
            cursor: pointer;
            box-sizing: border-box;
          
            &:hover {
              border-bottom-color: var(--c1);
            }
            .notes{
                margin-left: 15px;
                font-size: .8rem;
                color: $dark-background;
            }
          }
          
    }
}
.chip{
    display: inline-block;
    box-sizing: border-box;
    padding: 2px 5px;
    border-radius: 20px;
    min-width: 50px;
    background-color: $neutral-background;
    margin: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 300;
    color: $beaver;
    font-size: .8rem;

    &.dark{
        background: $sage;
        color: $neutral-background;
        &:hover{
            background: $accent-dark;
            cursor: pointer;
        }
        &.selected{
            background: $forest;
        }
    }
}
.chips{
    display: flex;
    > * {
        margin-right: 12px;
    }
    .category{
      width: 50%;
    }
}
.docs-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {

  .container{
    padding: 8px 25px;
  }

  .grid{
    .schedule{
      width: 100%;
      border-right: none;
      border-bottom: 1px solid black;
    }
    .right{
      width: 100%;
      .countdown{
        padding-bottom: 1rem;
      }
    }
  }
  .footer .cell h2 {
    font-size: 1.5rem;
}

  .cb-text{
    display: flex;
    flex-wrap: wrap;
  }

  }