<div class="container">
    <div class=page-header>
        <div class=header-content>
            <h1>Wedding Party Information</h1>
        <app-countdown></app-countdown>
        </div>
    </div>
    <app-tabs>
        <app-tab tabTitle="Attire">
            <div class="slides-container">
                <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQyjBy6IcLXTnfi6EYq7L9H2idH9svBEbcD_32bmnYAbZ4AxK-0X8f6YviTWwqSV3q9-hw4AUz08r9X/embed?start=false&loop=true&delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </app-tab>
        <app-tab tabTitle="Schedule & Timeline">
            <div class=dates>
                <div class="events">
                    <div class=timeline>
                        <div class="tl-container">
                            <div class="wrapper">
                              <ul class="sessions">
                                  <div class=timeline-header>
                                        <!-- <i class="fa-solid fa-chevron-left fa-1x"></i>
                                        <div class=big-time>{{timeline[currentDay].date}}</div>
                                        <i class="fa-solid fa-chevron-right fa-1x"></i> -->
                                        <select class=big-time [(ngModel)]="currentDay">
                                            <option *ngFor="let day of timeline" [ngValue]="day">{{day.date}}</option>
                                        </select>
                                    </div>
                                <li 
                                    *ngFor="let event of currentDay.events; index as i"
                                    [ngClass]="{ 'end' : i == currentDay.events.length}"
                                >
                                  <div class="time">{{event.time}}</div>
                                  <h2>{{event.title}}</h2>
                                  <div class=content [innerHTML]="event.description"></div>
                                </li>
                              </ul>
                            </div>
                          </div> 
                    </div>
                </div>
            </div>
        </app-tab>
        <app-tab tabTitle="Checklist">
            <div class=checklist>
                <div class=list>
                    <ol style="--length: 100" role="list">
                        <li *ngFor="let item of checklist; let  i = index" [style.--i]="item.percentage">
                            <div class=header>
                                <i class="fa-solid fa-check fa-2x"></i>
                                <h3>{{item.title}}</h3>
                            </div>
                            <div class=checks>
                                <ul>
                                    <li *ngFor="let listItem of item.listItems; let  j = index">
                                      
                                      <span class="cb-wrapper">
                                          <input type="checkbox" id="cb{{i}}{{j}}" name="cb{{i}}{{j}}" [attr.checked]="item.percentage == 100 ? true : undefined">
                                        <label for="cb{{i}}{{j}}">{{listItem}}</label>
                                    </span>
                                      
                                    </li>
                                  </ul>
                            </div>
                        </li>
                        
                    </ol>
                    </div>
            </div>
        </app-tab>
        <app-tab tabTitle="Packing List">
            Filter By
            <div class=filters-list>
                <div class="chips">
                    <div class="packing-audience">
                        <i class="fa-solid fa-user"></i>
                        <span 
                            class="chip dark audience-chip" 
                            *ngFor="let person of allAudiences" 
                            [ngClass]="{ 'selected': person.selected }"
                            (click)="person.selected = !person.selected"
                        >{{person.name}} </span>
                        
                    </div>
                    <div class="packing-events">
                        <i class="fa-regular fa-calendar"></i>
                        <span 
                            class="chip dark event-chip" 
                            *ngFor="let event of allEvents" 
                            [ngClass]="{ 'selected': event.selected }"
                            (click)="event.selected = !event.selected"
                        >{{event.name}} </span>
                        
                    </div>
                </div>
            </div>
            <div class=checklist>
                <div class=list>
                    <div class=checks>
                        <div *ngIf="getFilteredPacking().length ==0">
                            No results for that filter combination
                        </div>
                        <ng-container *ngFor="let item of getFilteredPacking(); let  i = index">        
                            <ul>
                                <li>
                                    <span class="cb-wrapper">
                                        <input class=big type="checkbox" id="pcb{{i}}" name="pcb{{i}}">
                                        <label for="pcb{{i}}">
                                            <div class="cb-text">
                                                <span>{{item.item}}</span>
                                                <span class="notes">{{item.notes}}</span>
                                            </div>
                                            
                                            <div class="chips">
                                                <div class="packing-audience">
                                                    <i class="fa-solid fa-user"></i>
                                                    <span class="chip audience-chip" *ngFor="let person of item.audience">{{person}} </span>
                                                    
                                                </div>
                                                <div class="packing-events">
                                                    <i class="fa-regular fa-calendar"></i>
                                                    <span class="chip event-chip" *ngFor="let event of item.events">{{event}} </span>
                                                    
                                                </div>
                                            </div>
                                        </label>
                                    </span>
                                    
                            
                                </li>
                            </ul>
                        </ng-container>
                    </div>
                </div>
            </div>
        </app-tab>
        <app-tab tabTitle="Roles & Responsibilities">
            <div class="docs-container">
                <iframe 
                width="800" height="2000" frameborder="0"
                src="https://docs.google.com/document/d/e/2PACX-1vQpWVUVGBgoeVKBrs44a81eD75QvUOKYcH_B1YGaIlzdnp6FKBZQ59FJMUhDql7YufGFEgj1cLl9YV7/pub?embedded=true"></iframe>
            </div>
        </app-tab>
    </app-tabs>

</div>
