<div class="container">
    <div class=page-header>
        <div class=header-content>
            <h1>Wedding Party Information</h1>
        <app-countdown></app-countdown>
        </div>
    </div>
    <app-tabs>
        <app-tab tabTitle="Attire">
            <div class="slides-container">
                <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQyjBy6IcLXTnfi6EYq7L9H2idH9svBEbcD_32bmnYAbZ4AxK-0X8f6YviTWwqSV3q9-hw4AUz08r9X/embed?start=false&loop=true&delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </app-tab>
        <app-tab tabTitle="Schedule & Timeline">
            <div class=dates>
                <div class="events">
                    <div class=timeline>
                        <div class="tl-container">
                            <div class="wrapper">
                              <ul class="sessions">
                                <div class=big-time>Saturday, October 11</div>
                                <li>
                                  <div class="time">Any Time</div>
                                  <h2>Bridal Party Arrives In Mexico</h2>
                                  <p>Join us this evening as we welcome our guests to our wedding weekend. Get to know one another and make plans for the days to come!</p>
                                </li>
                                <li>
                                    <div class="time">Evening</div>
                                    <h2>Drinks</h2>
                                    <p>Join us this evening as we welcome our guests to our wedding weekend. Get to know one another and make plans for the days to come!</p>
                                </li>
                                <li class="end">
                                    <div class="time">Evening</div>
                                    <h2>Dinner</h2>
                                    <p>Join us this evening as we welcome our guests to our wedding weekend. Get to know one another and make plans for the days to come!</p>
                                </li>
        
                                <div class=big-time>Wednesday, October 8</div>
                                <li>
                                    <div class="time">Morning</div>
                                    <h2>Breakfast</h2>
                                    <p>Join us this evening as we welcome our guests to our wedding weekend. Get to know one another and make plans for the days to come!</p>
                                </li>
                                <li>
                                    <div class="time">Afternoon (Time TBD)</div>
                                    <h2>Boat Day</h2>
                                    <p>Join us this evening as we welcome our guests to our wedding weekend. Get to know one another and make plans for the days to come!</p>
                                </li>
                                <li class=end>
                                    <div class="time">Evening (Time TBD)</div>
                                    <h2>Desires Night Club</h2>
                                    <p>Join us this evening as we welcome our guests to our wedding weekend. Get to know one another and make plans for the days to come!</p>
                                </li>
        
                                <div class=big-time>Thursday, October 9</div>
                                <li>
                                    <div class="time">11 AM</div>
                                    <h2>Spa Day / Golf?</h2>
                                    <p>Join us this evening as we welcome our guests to our wedding weekend. Get to know one another and make plans for the days to come!</p>
                                </li>
        
                                <div class=big-time>Friday, October 10</div>
                                <li>
                                    <div class="time">TBD</div>
                                    <h2>Rehearsal</h2>
                                    <p>Join us this evening as we welcome our guests to our wedding weekend. Get to know one another and make plans for the days to come!</p>
                                </li>
                                <li class=end>
                                <div class="time">TBD</div>
                                <h2>Rehearsal Dinner</h2>
                                <p>Join us this evening as we welcome our guests to our wedding weekend. Get to know one another and make plans for the days to come!</p>
                                </li>
        
                                <div class=big-time>Saturday, October 11</div>
                                <li>
                                    <div class=time>8:00 AM</div>
                                    <h2>Bridesmaids Getting Ready</h2>
                                    <p>Makeup</p>
                                </li>
                                <li>
                                    <h2>Ceremony</h2>
                                    <p>Celebrate our wedding ceremony on the beach</p>
                                </li>
                                <li>
                                    <!-- <div class=time>October 11</div> -->
                                    <h2>Cocktail Hour</h2>
                                    <p>Immediately following our ceremony we will be hosting a cocktail hour on the beach with light hours devours.</p>
                                </li>
                                <li>
                                    <!-- <div class=time>October 11</div> -->
                                    <h2>Reception</h2>
                                    <p>We will have dinner, drinks, and dancing!</p>
                                </li>
                              </ul>
                            </div>
                          </div> 
                    </div>
                </div>
            </div>
        </app-tab>
        <app-tab tabTitle="Checklist">
            <div class=checklist>
                <div class=list>
                    <ol style="--length: 100" role="list">
                        <li *ngFor="let item of checklist; let  i = index" [style.--i]="item.percentage">
                            <div class=header>
                                <i class="fa-solid fa-check fa-2x"></i>
                                <h3>{{item.title}}</h3>
                            </div>
                            <div class=checks>
                                <ul>
                                    <li *ngFor="let listItem of item.listItems; let  j = index">
                                      <input type="checkbox" id="cb{{i}}{{j}}" name="cb{{i}}{{j}}" [attr.checked]="item.percentage == 100 ? true : undefined">
                                      <label for="cb{{i}}{{j}}">{{listItem}}</label>
                                    </li>
                                  </ul>
                            </div>
                        </li>
                        
                    </ol>
                    </div>
            </div>
        </app-tab>
        <app-tab tabTitle="Packing List">
            <div class=checklist>
                <div class=list>
                    <div class=checks>
                        <ng-container *ngFor="let list of packing; let  i = index">
                            <h2>{{list.tag}}</h2>
                            <ul>
                                <li *ngFor="let item of list.items; let  j = index">
                                    <input type="checkbox" id="pcb{{i}}{{j}}" name="pcb{{i}}{{j}}">
                                    <label for="pcb{{i}}{{j}}">{{item}}</label>
                                </li>
                            </ul>
                        </ng-container>
                    </div>
                </div>
            </div>
        </app-tab>
    </app-tabs>

</div>
