@import "../../../vars.scss";
$timeline: #CCD5DB;
.container{
    background: linear-gradient(0deg, $neutral-background 40%, $sand 40%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: var(--menu-height);
    .content{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .image{
        position: relative;
        height: 65vh;
        // width: 25rem;
        // min-width: 25rem;
        img{
            // position: absolute;
            top: 0;
            left: 0;
            // width: 100%;
            height: 100%;
            object-fit: cover; /* Ensures images cover the entire container while maintaining aspect ratio */
        }
    }
    h2{
        text-transform: uppercase;
        font-family: 'Kerad';
        font-style: italic;
        text-align: center;
        // font-size: 30px;
        // margin: 25px;
    }
    h2,h5{
        margin: 0px;
    }
    .events{
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: 60%;
        .event{
            // margin: 3rem;
            // width: 15rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
              p{
                  text-align: justify;
                  font-size: 13px;
              }
        }
    }
}
.timeline{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px;
    border-radius: 20px;
    @mixin tablet-and-up {
        @media screen and (min-width: 769px) { @content; }
    }
    @mixin mobile-and-up {
        @media screen and (min-width: 601px) { @content; }
    }
    @mixin tablet-and-down  {
        @media screen and (max-width: 768px) { @content; }
    }
    @mixin mobile-only {
        @media screen and (max-width: 600px) { @content; }
    }
    
    
    ul, li{
      list-style: none;
      padding: 0;
    }
    
    // .container{
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   padding: 0 1rem;
    //   background: linear-gradient(45deg, #209cff, #68e0cf);
    //   padding: 3rem 0;
    // }
    // .wrapper{
    //   background: #eaf6ff;
    //   padding: 2rem;
    //   border-radius: 15px;
    // }
    // h1{
    //   font-size: 1.1rem;
    //   font-family: sans-serif;
    // }
    .sessions{
    //   margin-top: 2rem;
    //   border-radius: 12px;
      position: relative;
    }
    li{
      padding-bottom: 1rem;
      border-left: 1px solid $dark-background;
      position: relative;
      padding-left: 20px;
      margin-left: 10px;
      &:last-child{
        border: 0px;
        padding-bottom: 0;
      }
      &:before{
        content: '';
        width: 15px;
        height: 15px;
        background: white;
        border: 1px solid $terracotta;
        box-shadow: 3px 3px 0px $rust;
        box-shadow: 3px 3px 0px $rust;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: 0px;
      }
    }
    h2{
        text-align: left;
        font-size: 1rem;
    }
    .time{
        text-transform: uppercase;
            font-family: 'Kerad';
            font-style: italic;
            // text-align: center;
            color: $terracotta;
            font-size: .75rem;
           
      @include mobile-and-up{
        font-size: .9rem;
      }
      @include mobile-only{
        margin-bottom: .3rem;
        font-size: 0.85rem;
      }
    
    }
    p{
      color: #4f4f4f;
      line-height: 1.5;
      margin-top:0.4rem;
    //   @include mobile-only{
        font-size: .75rem;
    //   }
    }
}
@media (max-width:750px) {
    .timeline{
        background:none;
        box-shadow: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
    .container{
        height: auto;
        .content{
           flex-wrap: wrap; 
           justify-content: center;
           align-items: center;
           background: linear-gradient(0deg, $neutral-background 80%, $sand 80%);
        }
        .events{
            width:100%;
        }
        .image{
            order: -1;
            height: 55vh;
        }
    }
}

@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .container{
        height: auto;
        .content{
            flex-wrap: wrap; 
            justify-content: center;
            align-items: center;
            background: linear-gradient(0deg, $neutral-background 80%, $sand 80%);
         }
           .events{
            width:100%;
            margin-top: 1rem;
        }
    }
    
    .image{
        order: -1;
        height: 55vh;
    }
    
}
/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1180px) 
and (orientation : landscape) {
    .container{
        height: auto;
    }
    .image{
        height: 55vh;
    }
}




