<div class="container">
    <i class="fa-regular fa-calendar fa-2x"></i>
    <h1>Events</h1>
    <h4>More updates to come!</h4>
    <div class=content>

        <div class="events">
            <div class=timeline>
                <div class="tl-container">
                    <div class="wrapper">
                      <ul class="sessions">
                        <li>
                          <div class="time">October 9</div>
                          <h2>Welcome Cocktail Hour</h2>
                          <p>Join us this evening as we welcome our guests to our wedding weekend. Get to know one another and make plans for the days to come!</p>
                        </li>
                        <li>
                            <div class=time>October 11</div>
                            <h2>Ceremony</h2>
                            <p>Celebrate our wedding ceremony on the beach</p>
                        </li>
                        <li>
                            <div class=time>October 11</div>
                            <h2>Cocktail Hour</h2>
                            <p>Immediately following our ceremony we will be hosting a cocktail hour on the beach with light hours devours.</p>
                        </li>
                        <li>
                            <div class=time>October 11</div>
                            <h2>Reception</h2>
                            <p>We will have dinner, drinks, and dancing!</p>
                        </li>
                      </ul>
                    </div>
                  </div> 
            </div>
        </div>
        <div class=image>

            <img src="./assets/images/AllieRyannPhoto-DallasWeddingPhotographer-3349.jpg" />
        </div> 
    </div>

	
	
	
</div>