<!-- <div class="container">
    <div class="container-fluid">

        <div class="row example-split">
            <div class="col-md-12 example-title">
                <h1>Schedule</h1>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <ul class="timeline timeline-split">
                    <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker no-top"></div>
                        <div class="timeline-content">
                            <h2 class="timeline-title">Thursday, July 29</h2>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>6:30 PM</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Welcome Cocktail Hour</h3>
                            <p>Join us at the main bar as we welcome our guests to our wedding weekend. Get to know one another and make plans for the days to come!</p>
                        </div>
                    </li>
                    <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h2 class="timeline-title">Friday, July 30</h2>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>9: 00 AM</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Wedding Rehearsal</h3>
                            <p>The wedding party will meet at the gazebo for the wedding rehearsal.</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>7:00 PM</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Rehearsal Dinner</h3>
                            <p>We invite all of our guests to join us at the rehearsal dinner at the pavillion.</p>
                        </div>
                    </li>
                    <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h2 class="timeline-title">Saturday, August 1</h2>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>5:00 PM</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">The Ceremony</h3>
                            <p>Join us for our wedding ceremony on the beach</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>6:00 PM</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Cocktail Hour</h3>
                            <p>Immediately following our ceremony we will be hosting a cocktail hour on the beach with light hours devours.</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>7:00 PM</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Reception</h3>
                            <p>We will have dinner, drinks, dancing, and cake!</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>10:00 PM</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Send off</h3>
                            <p>Closing our reception by sending off the newly wedded Richardsons!</p>
                        </div>
                    </li>
                    <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h2 class="timeline-title">Sunday, August 2</h2>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>11:00 AM</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Newly Wed Sendoff</h3>
                            <p>Come bid farewell to the happy couple.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
	
	
	
</div> -->
<div class=container>
    <i class="fa-regular fa-calendar fa-2x"></i>
    <h1>Events</h1>
    <div class=events>
        <div class=event>
            
            <div class=event-image>
                <img offset="300" lazyLoad="https://images.unsplash.com/photo-1570598912132-0ba1dc952b7d?q=80&w=3072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  />
            </div>
            <h2>Welcome Cocktail Hour</h2>
            <h5>July 30 &#64; 7:30 PM</h5>
            <p>Join us at the main bar as we welcome our guests to our wedding weekend. Get to know one another and make plans for the days to come!</p>
        </div>
        <div class=event>
            <div class=event-image>
                <img offset="300" lazyLoad="https://www.onegirlwholeworld.com/wp-content/uploads/2021/06/excellence_playa_mujeres_review_IMG_3707.jpg"  />
            </div>
            <h2>Pool Day</h2>
            <h5>July 31 &#64; 1:00 PM</h5>
            <p>Hang out, relax, and mingle with your fellow guests and the happy couple</p>
        </div>
        <div class=event>
            <div class=event-image>
                <img offset="300" lazyLoad="https://images.unsplash.com/photo-1473973916745-60839aebf06b?q=80&w=3687&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  />
            </div>
            <h2>Rehearsal Dinner</h2>
            <h5>July 31 &#64; 6:30 PM</h5>
            <p>We invite all of our guests to join us at the rehearsal dinner at the pavillion.</p>
        </div>
        <div class=event>
            <div class=event-image>
                <img offset="300" lazyLoad="https://f787210c53b427feeaeb-c28b6597e65b423090025cb75a9bf15e.ssl.cf1.rackcdn.com/u/_bodas/cancun-wedding.jpg"  />
            </div>
            <h2>Ceremony</h2>
            <h5>August 1 &#64; 5:00 PM</h5>
            <p>Join us for our wedding ceremony on the beach</p>
        </div>
        <div class=event>
            <div class=event-image>
                <img offset="300" lazyLoad="https://images.unsplash.com/photo-1615361481255-9bcbfa7a191b?q=80&w=2547&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  />
            </div>
            <h2>Cocktail Hour</h2>
            <h5>August 1 &#64; 6:00 PM</h5>
            <p>Immediately following our ceremony we will be hosting a cocktail hour on the beach with light hours devours.</p>
        </div>
        <div class=event>
            <div class=event-image>
                <img offset="300" lazyLoad="https://images.unsplash.com/photo-1535185384036-28bbc8035f28?q=80&w=3688&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  />
            </div>
            <h2>Reception</h2>
            <h5>August 1 &#64; 7:00 PM</h5>
            <p>We will have dinner, drinks, dancing, and cake!</p>
        </div>
        <div class=event>
            <div class=event-image>
                <img offset="300" lazyLoad="./assets/images/sendoff.jpg"  />
            </div>
            <h2>Newlywed Send-off</h2>
            <h5>August 2 &#64; 1:30 PM</h5>
            <p>Come bid farewell to the happy couple.</p>
        </div>  
    </div>
    
</div>