@import "../../../vars.scss";
$timeline: #CCD5DB;
.container{
    // background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: var(--menu-height);
    h2{
        text-transform: uppercase;
        font-family: 'Kerad';
        font-style: italic;
        text-align: center;
        // font-size: 30px;
        // margin: 25px;
        height: 4.5rem;
    }
    h2,h5{
        margin: 10px;
    }
    .events{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        .event{
            margin: 3rem;
            width: 15rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .event-image {
                width: 15rem; /* Set the desired width for the event container */
                height: 15rem; /* Set the desired height for the event container */
                overflow: hidden; /* Hide any content that exceeds the container dimensions */
                position: relative; /* Establish a positioning context */
                img {
                    width: 100%; /* Ensure the image occupies 100% of the container's width */
                    height: 100%; /* Ensure the image occupies 100% of the container's height */
                    object-fit: cover; /* Maintain the aspect ratio of the image and cover the entire container */
                    object-position: center; /* Position the image at the center of the container */
                    display: block; /* Ensure the image is displayed as a block element */
                  }
              }
              p{
                  text-align: justify;
                  font-size: 13px;
              }
        }
    }
}
@media (max-width:750px) {
    .container{
        height: auto;
        h2{
            height: 65px;
            font-size: 20px;
        }
        .events{
            .event{
                margin: 15px;
                width: 150px;
                .event-image{
                    width: 150px;
                    height: 150px;
                }
                p{
                    text-align: center;
                }
            }
            
        }
    }
}

@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .container{
        height: auto;
        h2{
            height: 65px;
            font-size: 20px;
        }
        .events{
            .event{
                margin: 15px;
                width: 150px;
                .event-image{
                    width: 150px;
                    height: 150px;
                }
                p{
                    text-align: center;
                }
            }
            
        }
    }
    
}
/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1180px) 
and (orientation : landscape) {
    .container{
        height: auto;
        h2{
            height: 50px;
            font-size: 20px;
        }
        .events{
            .event{
                margin: 15px;
                width: 200px;
                .event-image{
                    width: 200px;
                    height: 200px;
                }
                p{
                    text-align: center;
                }
            }
            
        }
    }
}