
<div class=home-container>
    <div class=content>
        <div class=photo>
            <img class=image src="https://images.squarespace-cdn.com/content/v1/62965e811f7199435ae4367a/1698538903095-QWNMJ4VQJ59H6DCQLDMU/4+tips+on+How+to+Style+an+engagement+session+-+houston+wedding+and+couples+photographer+%288%29.jpg?"/>
        </div>
        <div class=std>
            <div class=monogram>
                <img src="./assets/images/AV-clear.png" /> 
            </div>
            <div class=date>
                08.01.2025
            </div>
            <div class=wedding>
                the wedding of
            </div>
            <div class=names>
                <h1>John Volney Richardson IV</h1>
                <span class=and>&</span>
                <h1>Amanda Lynn Easter</h1>
            </div>
            <div class=divider></div>
            <div class=info>
               <p>5pm</p> 
               <p>at excellence playa mujures</p>
               <p>Cancun, Mexico</p>
            </div>
            <button (click)="displayRsvp()">RSVP</button>
            <div class='name a'>Amanda</div>
        <div class='name v'>Volney</div>
        </div>
        <div class=photo>
            <img class=image src="https://images.squarespace-cdn.com/content/v1/62965e811f7199435ae4367a/1698538829642-0LZAJGXX1LY4JDISNJXL/4+tips+on+How+to+Style+an+engagement+session+-+houston+wedding+and+couples+photographer+%2838%29.jpg"/>
        </div>
        
    </div>


    <!-- <div class=columns>
        <div class="details column">
            <div class=vertical-line></div>
            <h2>The Details</h2>
            <div class="detail">
                <div class=detail-header>ceremony:</div>
                <p>8/01/25 @ Excellence Playa Mujeres</p>
            </div>
            <div class=detail>
                <div class=detail-header>hotel info:</div>
                <p>www.excellenceresorts.com</p>
            </div>
        </div>
        <div class="photo column">

        <div class=monogram>
            <img src="./assets/images/av-logo-white.png" /> 
        </div>
            <img class=image src="https://images.squarespace-cdn.com/content/v1/62965e811f7199435ae4367a/1698538903095-QWNMJ4VQJ59H6DCQLDMU/4+tips+on+How+to+Style+an+engagement+session+-+houston+wedding+and+couples+photographer+%288%29.jpg?"/>
            <div class=description>Amanda <span>+</span> Volney</div>
            <div class=info>
                <h2>Join Us</h2>
                <span>08.01.2025</span>
                <span class=divider></span>
                <span>Playa Mujures, Cancun</span>
                <span class=divider></span>
                <span>5pm</span>
            </div>
        </div>
        <div class="rsvp column">
            <h2>We can't wait to celebrate with you</h2>
            <div class=vertical-line></div>
            <button (click)="displayRsvp()">RSVP</button>
            
        </div>
    </div>
     -->
</div>
