
<div class=home-container>


    <div class=columns>
        <div class="details column">
            <div class=vertical-line></div>
            <h2>The Details</h2>
            <div class="detail">
                <div class=detail-header>ceremony:</div>
                <p>8/01/25 @ Excellence Playa Mujeres</p>
            </div>
            <div class=detail>
                <div class=detail-header>hotel info:</div>
                <p>www.excellenceresorts.com</p>
            </div>
        </div>
        <div class="photo column">

        <div class=monogram>
            <img src="./assets/images/av-logo-white.png" /> 
        </div>
            <img class=image src="https://images.squarespace-cdn.com/content/v1/62965e811f7199435ae4367a/1698538903095-QWNMJ4VQJ59H6DCQLDMU/4+tips+on+How+to+Style+an+engagement+session+-+houston+wedding+and+couples+photographer+%288%29.jpg?"/>
            <div class=description>Amanda <span>+</span> Volney</div>
            <div class=info>
                <h2>Join Us</h2>
                <span>08.01.2025</span>
                <span class=divider></span>
                <span>Playa Mujures, Cancun</span>
                <span class=divider></span>
                <span>5pm</span>
            </div>
        </div>
        <div class="rsvp column">
            <h2>We can't wait to celebrate with you</h2>
            <div class=vertical-line></div>
            <button (click)="displayRsvp()">RSVP</button>
            
        </div>
    </div>
    
</div>
