@import '../../../vars.scss';
i{
    color: $sand;
}
.header-photo{
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .monogram{
        margin: 20px;
        margin-bottom: 10px;
        // img{
            height:350px;
            min-height: 350px;
            width:350px;
            background-image: url('~src/assets/images/av-logo-white.png');
            background-size: cover;
        // }
       
    } 
}
.home-container{
    min-height: 100vh;
    padding-top: var(--menu-height);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    &:before {

        filter: saturate(100%)  brightness(100%) opacity(40%) blur(2px);
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: -1;
    
      }

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 80vh;
        width: 100%;

        // overflow: hidden;
        .std{
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            flex-grow: 1;
            position: relative;
            z-index: 5;
            // min-height: 100svh; // until we add more details under
            height: 100%;
            padding: 1rem;

            .monogram{
                margin: .5rem;
                width: 80px;
                height: 80px;
                min-height: 80px;
                background-image: url('~src/assets/images/AV-clear.png');
                background-size: cover;
                // img{
                //     width: 200px;
                //     height: 200px;
                    
                // }
                
            }
            .date{
                font-size: 1rem;
                font-family: "Argue";
                letter-spacing: 5px;
                margin: 1rem;
                text-align: center;
            }
            .wedding{
                font-family: "Kerad";
                // font-style: italic;
                text-transform: uppercase;
                font-size: 1rem;
                margin: 10px;
                line-height: 1.5rem;
                .f002{
                        font-feature-settings: "aalt" 1;
                }
                .t002{
                    font-feature-settings: "aalt" 2;
            }
            }
            .names{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                // font-size: 2em;
               
                width: 75%;
                .and{
                    font-size: 3rem;
                    font-family: "Tropical";
                    color: black;
                    opacity: .4;
                } 
                h1{
                    margin: .5rem;
                    color: black;
                    font-size: 1.75rem;
                } 
            }
            .divider{
                height: 0;
                width: 20%;
                border-top: 1px solid black;
                margin: 15px;
            }
            .rsvp{
                margin: 15px;
            }
            .std-info{
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 5px;
                line-height: 30px;
                font-family: "Ethereal";
                margin: 10px;
                font-size: 14px;
                p{
                    margin: .25rem;
                    font-size: .75rem;
                    line-height: 1.25rem;
                }
            }
            button{
                font-size:20px;
                margin: 10px;
            }
        }
        .photo {
            width: 35%; /* Set the desired width */
            height: 60vh; /* Set the desired height */
            overflow: hidden; /* Ensure the image does not overflow the container */
            box-shadow: -50px -50px 0 -40px $rust, 50px 50px 0 -40px $rust;
            margin: 10px;
            img {
                width: 100%; /* Make the image fill the container horizontally */
                height: 100%; /* Make the image fill the container vertically */
                object-fit: cover; /* Scale the image to cover the entire container */
                
              }
          }
          .name{
              position: absolute;
              transform: rotate(-90deg);
              font-size: 65px;
              text-transform: uppercase;
              font-family: "Tropical";
              color: $forest;
              z-index: -1;
              opacity: 0.5;
              -webkit-opacity: 0.5; /* WebKit browser e.g. Safari */
              &.a{
                top: calc(0svh + 140px);
                  left: -3rem;
              }
              &.v{
                  top: 58svh;
                  right: -3rem;
              }
          }
          
          
    }
    
}
.info{
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    color: $forest;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(252,252,251,0.6) 19%,rgba(249,248,247,1) 40%,rgba(241,238,234,1) 100%);    .divider{
        width: 75%;
        height: 0px;
        margin: 1rem;
        border-top: 1px solid $dark-background;
      }
    .details{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .details-title{
            color: $sage;
            font-size: 1.25rem;
        }
        .party{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .person{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: .5rem;
                .party-icon{
                    height: 50px;
                    margin: 10px;
                    opacity: .75;
                }
                svg{
                    margin: 1rem;
                }
                .name,.title{
                    text-align: center;
                    // margin: 5px;
                    font-size: .9rem;
                }
                .name{
                    // color: $navy;
                    font-family: "Ethereal";
                    margin: 3px;
                }
                .title{
                    color: $sage;
                    font-family: "Kerad";
                    font-style: italic;
                    text-transform: uppercase;
                    font-size: .75rem;
                }
            }
        }
    }
    .text,.details{
        padding: 1rem;
        box-sizing: border-box;
        // flex-grow: 1;
        min-width: 43%;
    }
}
.mobile-photo{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    display: block;
    height: 100vh;
    width: 100vw;
    .photo{
       width: 100%; /* Set the desired width */
        height: 100%; /* Set the desired height */
        // overflow: hidden; /* Ensure the image does not overflow the container */
        // box-shadow: -50px -50px 0 -40px $rust, 50px 50px 0 -40px $rust;
        // margin: 10px;
        img {
            width: 100%; /* Make the image fill the container horizontally */
            height: 100%; /* Make the image fill the container vertically */
            object-fit: cover; /* Scale the image to cover the entire container */
            
          } 
    }
    .overlay{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        
        width: 100%;
        height: 100%;
        color: $neutral-background;
        position: absolute;
        top: 0;
        .logo{
            margin-bottom: 50px;
        }
    }
    i{
        position: absolute;
        bottom: 1.5rem;
        &:hover{
            cursor: pointer;
        }
    }
    .monogram{
        margin: 20px;
        margin-bottom: 10px;
        // img{
            height:150px;
            min-height: 150px;
            width:150px;
            background-image: url('~src/assets/images/av-logo-white.png');
            background-size: cover;
        // }
       
    } 
    .date{
        font-size:.75rem;
        letter-spacing: 10px;
        margin: 5px;
        text-shadow: black 1px 0 10px;
        text-align: center;
    } 
    
}
.overlay{
    display: none;
}


@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .mobile-photo{
        // display: flex;
        // align-items: center;
        // justify-content: center;
        display: block;
        height: 100vh;
        width: 100vw;
        .photo{
           width: 100%; /* Set the desired width */
            height: 100%; /* Set the desired height */
            // overflow: hidden; /* Ensure the image does not overflow the container */
            // box-shadow: -50px -50px 0 -40px $rust, 50px 50px 0 -40px $rust;
            // margin: 10px;
            img {
                width: 100%; /* Make the image fill the container horizontally */
                height: 100%; /* Make the image fill the container vertically */
                object-fit: cover; /* Scale the image to cover the entire container */
                
              } 
        }
        // .overlay{
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center;
        //     justify-content: center;
        //     width: 100%;
        //     opacity: 0.95;
        //     -webkit-opacity: 0.95; /* WebKit browser e.g. Safari */
        //     color: $neutral-background;
        // }
        .monogram{
            margin: 20px;
            margin-bottom: 10px;
            // img{
                height:350px;
                min-height: 350px;
                width:350px;
                background-image: url('~src/assets/images/av-logo-white.png');
                background-size: cover;
            // }
           
        } 
        .date{
            font-size:2rem;
            letter-spacing: 10px;
            margin: 5px;
            // opacity: 0.5;
            // -webkit-opacity: 0.5; /* WebKit browser e.g. Safari */
        } 
        
    }
    .home-container{
        flex-wrap: wrap;
        // color: white;
        // background-image: url('https://images.squarespace-cdn.com/content/v1/62965e811f7199435ae4367a/1698538903095-QWNMJ4VQJ59H6DCQLDMU/4+tips+on+How+to+Style+an+engagement+session+-+houston+wedding+and+couples+photographer+%288%29.jpg');
        // background-size: cover;
        // text-shadow: black 1px 0 10px;
        .info{
            width: 100%;
            height: unset;
        }
        .content{
            width: 100%;
            .name{
                // font-size: 45px;
                text-shadow: none;
                // color: white;
                opacity: 0.5;
                -webkit-opacity: 0.5; /* WebKit browser e.g. Safari */

            }


            .photo{
                display:none;
            }  
        }
        
    }
    
}
/* iPads (landscape) ----------- */
@media only screen 
and (min-width: 48em)
and (max-width: 64em) {
  .home-container{
      .content{
          height: 80svh;
          align-items: center;
          .photo{
              min-height: 50svh;
              max-width: 25%;
              width: auto;
              
          }
          .name{
            font-size: 45px;
            text-shadow: none;
            &.a{
                top: calc(0svh + 100px);
                left: -50px;
            }
            &.v{
                top: 60svh;
                right: -55px;
            }
        }
          .std{
            height: 100%;
            justify-content: space-evenly;
            align-items: center;
          .monogram{
                margin: 20px;
                margin-bottom: 10px;
                // img{
                    height:150px;
                    width:150px;
                    // background-image: url('~src/assets/images/av-logo-white.png');
                // }
            } 
            .date{
                font-size:15px;
                letter-spacing: 10px;
                margin: 5px;
                
            } 
            .wedding{
                margin: 10px;
                font-size: 1.25rem;
            }
            .names{
                margin: 5px;
                h1{
                    margin: 10px;
                    font-size: 2rem;
                }
                .and{
                    font-size: 30px;
                    font-family: "Tropical";
                }  

            }
            .divider{
                margin: 5px;
                // border-color: white;
            }
            .info{
                margin: 20px;
                font-size: 12px;
                line-height: 20px;
                p{
                    margin: 5px;
                }
            }
        }
      }
  }
}

@media (max-width: 768px) {
    .home-container{
        flex-wrap: wrap;
        padding-top: 0px;
        .info{
            width: 100%;
            height: unset;
        }

        .content{
            flex-wrap: wrap;
            // height: 90svh;
            width: 100%;
            .name{
                font-size: 45px;
                text-shadow: none;
                opacity: 0.5;
                -webkit-opacity: 0.5; /* WebKit browser e.g. Safari */
                &.a{
                    top: 100px;
                    left: -70px;
                }
                &.v{
                    top: 60svh;
                    right: -75px;
                }
            }
           
            .std{
                order: -1;
                padding: 1rem;
                min-height: 100svh;
              .monogram{
                    margin: 20px;
                    margin-bottom: 10px;
                    // img{
                        height:100px;
                        min-height: 100px;
                        width:100px;
                        // background-image: url('~src/assets/images/av-logo-white.png');
                    // }
                } 
                .date{
                    font-size:.8rem;
                    letter-spacing: 10px;
                    margin: 5px;
                } 
                .wedding{
                    margin: 2px;
                    font-size: 1.25rem;
                }
                .names{
                    margin: 5px;
                    h1{
                        margin: 8px;
                        font-size: 2rem;
                    }
                    .and{
                        font-size: 30px;
                        font-family: "Tropical";
                    }  

                }
                .divider{
                    margin: 5px;
                    // border-color: white;
                }
                .info{
                    margin: 1rem;
                    font-size: 12px;
                    line-height: 20px;
                    p{
                        margin: 5px;
                    }
                    
                }
                button{
                    margin: .5rem;
                }
            }
            .photo{
                display:none;
            }
            
        }
        // .details{
        //     min-height: 100svh;
        // }
    }
    .mobile-background{
        display: flex;
        flex-direction: column;
        align-items: center;
        .overlay{
            display: block;
            opacity: 0.5;
            -webkit-opacity: 0.5; /* WebKit browser e.g. Safari */
            color: $neutral-background;
            position: relative;
            top: 15%;
        }
        .monogram{
            margin: 20px;
            margin-bottom: 10px;
            // img{
                height:150px;
                min-height: 150px;
                width:150px;
                background-image: url('~src/assets/images/av-logo-white.png');
                background-size: cover;
            // }
           
        } 
        .date{
            font-size:1rem;
            letter-spacing: 10px;
            margin: 5px;
            opacity: 0.5;
            -webkit-opacity: 0.5; /* WebKit browser e.g. Safari */
        } 
        // padding-top: var(--menu-height);
        width: 100%; /* Set the desired width for the event container */
            height: 100vh; /* Set the desired height for the event container */
            // overflow: hidden; /* Hide any content that exceeds the container dimensions */
            // position: absolute; /* Establish a positioning context */
        // .image{
        //     width: 100%;
        //     height: 100%;
            background-image: url('https://i.pinimg.com/564x/6d/c2/64/6dc264af09bddb53c629fef88f8e1c4f.jpg');
            background-size: cover;
        // }
            
    }
    .hide-mobile{
        display: none;
    }
    .mobile-photo{
        // display: flex;
        // align-items: center;
        // justify-content: center;
        display: block;
        height: 100vh;
        width: 100vw;
        .photo{
           width: 100%; /* Set the desired width */
            height: 100%; /* Set the desired height */
            // overflow: hidden; /* Ensure the image does not overflow the container */
            // box-shadow: -50px -50px 0 -40px $rust, 50px 50px 0 -40px $rust;
            // margin: 10px;
            img {
                width: 100%; /* Make the image fill the container horizontally */
                height: 100%; /* Make the image fill the container vertically */
                object-fit: cover; /* Scale the image to cover the entire container */
                
              } 
        }
        // .overlay{
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center;
        //     justify-content: center;
        //     width: 100%;
        //     opacity: 0.95;
        //     -webkit-opacity: 0.95; /* WebKit browser e.g. Safari */
        //     color: $neutral-background;
        //     position: absolute;
        //     top: 10%;
        // }
        .monogram{
            margin: 20px;
            margin-bottom: 10px;
            // img{
                height:150px;
                min-height: 150px;
                width:150px;
                background-image: url('~src/assets/images/av-logo-white.png');
                background-size: cover;
            // }
           
        } 
        .date{
            font-size:1rem;
            letter-spacing: 10px;
            margin: 5px;
        } 
        
    }

}