<div class=mobile-photo>
    <div class=photo>
        <app-carousel></app-carousel>
      </div>
    <div class=overlay>

        <div class="logo">
            <div class=monogram>
                <!-- <img src="./assets/images/AV-clear.png" />  -->
                </div>
                <div class=date>
                    10.11.2025
                </div>  
        </div>
        <i class="fa-solid fa-angle-down fa-beat fa-lg" (click)="displayHome()"></i> 
    </div>
    
  </div>
<div class=home-container id=home>
    <div class=content>
        <div class=palm></div>
        <div class=std>
            <!-- <div class=hide-mobile> -->
              <div class=monogram>
                <!-- <img src="./assets/images/AV-clear.png" />  -->
            </div>
            <div class=date>
                10.11.2025
            </div>  
            <!-- </div> -->
            
            <div class=wedding>
                <span class="t002">t</span>he wedding o<span class=f002>f</span>
            </div>
            <div class=names>
                <h1>John Volney Richardson IV</h1>
                <span class=and>&</span>
                <h1>Amanda Lynn Easter</h1>
            </div>
            <div class=divider></div>
            <div class=std-info>
               <p>4pm</p> 
               <p>at secrets maroma BEACH</p>
               <p>RIVIERA Cancun, Mexico</p>
            </div>
            <button (click)="displayRsvp()">RSVP</button>
            <!-- <div class='name a'>Amanda</div>
        <div class='name v'>Volney</div> -->
        </div>
    </div>
    <div class=info>
        <div class=details>
            <h1>Our Wedding Party</h1>
            <div class="party">
                <div class=person>
                    <div class=image>
                      <img src="https://source.unsplash.com/random/300x300/?people" />  
                    </div>
                    
                    <div class=name>Ezra Richardson</div>
                    <div class=title>Best Man</div>
                </div>
                <div class=person>
                    <div class=image>
                      <img src="https://source.unsplash.com/random/300x300/?people&1" />  
                    </div>
                    
                    <div class=name>Eric Samuelson</div>
                    <div class=title>Groomsman</div>
                </div>
                <div class=person>
                    <div class=image>
                      <img src="https://source.unsplash.com/random/300x300/?people&2" />  
                    </div>
                    
                    <div class=name>Ethan Berney</div>
                    <div class=title>Groomsman</div>
                </div>
                <div class=person>
                    <div class=image>
                      <img src="https://source.unsplash.com/random/300x300/?people&3" />  
                    </div>
                    
                    <div class=name>Nic Rhodes</div>
                    <div class=title>Officiant</div>
                </div>
                <div class=person>
                    <div class=image>
                      <img src="https://source.unsplash.com/random/300x300/?people&4" />  
                    </div>
                    
                    <div class=name>Ali Henkemeyer</div>
                    <div class=title>Maid of Honor</div>
                </div>
                <div class=person>
                    <div class=image>
                      <img src="https://source.unsplash.com/random/300x300/?people&5" />  
                    </div>
                    
                    <div class=name>Abby Richardson</div>
                    <div class=title>Bridesmaid</div>
                </div>
                <div class=person>
                    <div class=image>
                      <img src="https://source.unsplash.com/random/300x300/?people&6" />  
                    </div>
                    
                    <div class=name>Marae Rhodes</div>
                    <div class=title>Bridesmaid</div>
                </div>
            </div>
        </div> 
    </div>
</div>

