/* Layout */
@import '../../../vars.scss';
// keyframes
@keyframes cresent {
	0% {
	  transform: translate(200px, -200px) scale(0.9);
	  text-shadow: none;
	  color: $neutral-background;
	}
	100% {
	  transform: translate(0px, 0px) scale(1.02);
	  text-shadow: 0 0 10px lighten($moon, 30%), 0 0 80px $moon;
	  color: $background;
	}
	// 60% {
	//   transform: translate(0px, 0px) scale(1.02);
	//   box-shadow: 0 0 10px lighten($moon, 30%), 0 0 80px 8px $moon;
	//   background-color: $peak;
	// }
	// 100% {
	//   transform: translate(200px, -200px) scale(0.9);
	//   box-shadow: none;
	// }
  }
  @keyframes cresent-out {
	0% {
		transform: translate(0px, 0px) scale(1.02);
		text-shadow: 0 0 10px lighten($moon, 30%), 0 0 80px $moon;
		color: $background;
	  }
	  100% {
		transform: translate(-300px, 300px) scale(0.9);
		text-shadow: none;
		color: $neutral-background;
	  }
  }
  @keyframes bg-in {
	0% {
	  background-color: #dfd7cf;
	  color: $beaver;
	}
	100% {
	  background-color: $sky-dark;
	  color: white;
	//   text-shadow: black 1px 0 10px;
	}
  }
  @keyframes bg-out {
	
	0% {
	  background-color: $sky-dark;
	  color: white;
	//   text-shadow: black 1px 0 10px;
	}
	100% {
	  background-color: $neutral-background;
	  color: $beaver;
	}
  }

.container {
	// background: linear-gradient(0deg, $rose 45%, $neutral-background 45%);
	position: relative;
	transition: all 2s ease;
	overflow: hidden;
	color: $beaver;
&.animate-in{
	animation: 4s bg-in linear forwards;
	.image-box{
        img.color{
			opacity: 0;
			-moz-opacity: 0; /* Firefox and Mozilla browsers */
			-webkit-opacity: 0; /* WebKit browser e.g. Safari */
		}
		img.bw{
			opacity: 1;
			-moz-opacity: 1; /* Firefox and Mozilla browsers */
			-webkit-opacity: 1; /* WebKit browser e.g. Safari */
        }
	}
}
&.animate-out{
  animation: 4s bg-out linear forwards;
  .image-box{
	img.color{
		opacity: 1;
		-moz-opacity: 1; /* Firefox and Mozilla browsers */
		-webkit-opacity: 1; /* WebKit browser e.g. Safari */
	}
	img.bw{
		opacity: 0;
		-moz-opacity: 0; /* Firefox and Mozilla browsers */
		-webkit-opacity: 0; /* WebKit browser e.g. Safari */
	}
}
}
.animate-moon {
	// &::before{
		animation: 3s cresent linear forwards;
	//   }
  }
  .animate-moon-out{
	// &::before{
		animation: 3.2s cresent-out linear forwards;
	//   }
  }
  .fa-heart{
	  position: absolute;
	  top: 50px;
  }
  h1{
	  color: unset;
	  &.title{
		 margin-top: 50px; 
	  }
	  
  }
  
	box-sizing: border-box;
	min-height: 100vh;
	padding-top: var(--menu-height);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.text-content{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.image-box{
		height: 35rem;
		width: 40%; /* Set the desired width for the event container */
		overflow: hidden; /* Hide any content that exceeds the container dimensions */
		position: relative; /* Establish a positioning context */
		margin: 1rem;
        img{
			transition: all 5s ease;
            width: 100%;
            height: 100%;
			object-fit: cover; /* Ensures images cover the entire container while maintaining aspect ratio */
			object-position: center; /* Position the image at the center of the container */
			background-size: cover;
			background-position: bottom;
			position:absolute;
			display: block; /* Ensure the image is displayed as a block element */
			&.color{
				opacity: 1;
				-moz-opacity: 1; /* Firefox and Mozilla browsers */
   				-webkit-opacity: 1; /* WebKit browser e.g. Safari */
			}
			&.bw{
				opacity: 0;
				-moz-opacity: 0; /* Firefox and Mozilla browsers */
   				-webkit-opacity: 0; /* WebKit browser e.g. Safari */
			}
        }
        .text{
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            // background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
            padding: 20px;
            color: $forest;
            text-align: center;
            text-transform: uppercase;
            font-size: 50px;
        }
	}
	.content{
		width: 60%;
		margin: 2rem;
		h1{
			text-align: left;
		}
		p{
			text-align: justify;
			// color: $beaver;
		}
	}
}
@media (max-width: 768px) {

	.text-content{
		flex-wrap: wrap;
	}
	.container{
		.content{
			width: 100%;
			margin-top: 0;
		}
		h1{
			margin-top: 50px;
		}
		.image-box{
			margin-bottom: 0;
			width: 100%;
		}
	}
  
}
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.text-content{
		flex-wrap: wrap;
	}
	.container{
		.content{
			width: 100%;
		}
	}
	
}
