
<div class=container>
	<i class="fa-solid fa-heart fa-2x"></i>
	<h1>Our Story</h1>
	<div class=text-content>
		<div class=image>
			<img src="./assets/images/AllieRyannPhoto-DallasWeddingPhotographer-3384.jpg" />
			<!-- <h1 class=text>Gifts</h1> -->
		</div> 
	
		<div class=content>
			<h1>
				How we met
			</h1>
	
				<p>Credit is due to our mutual friend Nic who invited Amanda to play mini golf with a group of his friends and not-so-subtley mentioned the fact that Volney was single. When Volney moved in with Nic, Henry, and Jonathan, we began to spend even more time with each other and started to feel a spark. After a couple of weeks of shameless flirting, Marae finally put us into a group message and suggested a double date. We went to another mini golf course where Volney convinced the bartender to let him 'win' a free drink to impress his date.</p>
			<h1>Our first date</h1>
			<p>We scheduled another date, just the two of us this time, and when Amanda realized Volney hadn't seen all of the Harry Potter movies we ordered a pizza, cracked open some Big Waves, and got to work burning through 8 movies. The more time we spent together, the harder it was to be apart. Volney asked Amanda to be his girlfriend on June 19th, 4 days after her 24th birthday and 2 weeks after we first started seeing eachother.</p>
			<h1>The proposal</h1>
			<p>Amanda suspected the day might be right due to Volney's more-than-usual enthusiastic participation in her idea to have a picnic to watch the solar eclipse. Amanda set up the camera and blanket while Volney grabbed charcuterie from the store and chilled two of the bottles of rose we had picked out together in Italy. We watched with our neighbors as the moon slowly covered the sun and the world went dark, a truly awe inspiring experience. It was there, with the giant ring slowly disappearing from the sky that Volney presented a ring of his own.</p>
			<p>A promise of love, commitment, and a lifetime of adventures together.</p>    
		</div>
	</div>

	
</div>