@import '../../../vars.scss';
.container{
    height: 100vh;
    background: linear-gradient(0deg, $neutral-background 60%, $sage 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i{
        color: $neutral-background;
    }
    h1{
        color: white;
    }
    iframe{
        width: 780px;
        display:block;
        height:580px;
        border:none;
        overflow:hidden;
    }
    .thanks{
        width: 780px;
        display:block;
        height:580px;
    }

}
::ng-deep #atcb-reference{
        color: red;
}
@media(max-width: 768px) {
    .container{
       iframe{
        width: 100%;
    } 
    }
    
}