
  <div class=container>
    <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>
    <h1>So, are you in?</h1>
      <iframe #myIframe
          src="https://avclub.anrsvp.com/?embed=true"
          >
  </iframe>
  <!-- <div class="thanks" *ngIf="isThankYouPresent">
    Your response has been recorded!
  </div> -->
  <!-- <button (click)="showFrame()"></button> -->
  <add-to-calendar-button 
  name="Amanda + Volney Wedding"
  description="Join us in Cancun for our wedding!"
  startDate="2025-10-10"
  endDate="2025-10-12"
  timeZone="America/Chicago"
  location="World Wide Web"
  availability="busy"
  iCalFileName="Amanda + Volney Wedding"
  options="'Apple','Google','iCal'"
  trigger="click"
  hideBackground
  pastDateHandling="disable"
></add-to-calendar-button>
  </div>