@import "../../../../vars.scss";
.tab-close {
    color: gray;
    text-align: right;
    cursor: pointer;
  }
ul{
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 0px;
    li{
        margin: 1rem;
        border-bottom: 2px solid transparent;
        text-transform: uppercase;
        font-family: "Kerad";
        color: $dark-background;
        font-size: 1.2rem;
        &:hover{
            cursor: pointer;
            color: $forest;
        }
        &.active{
            color: $sage;
            border-bottom: 2px solid $sage;
        }
    }
}
.photo-banner{
    width:100%;
    height: 20vh;
    opacity: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: $neutral-background;
    border-bottom: 1px solid black;
  }

@media (max-width: 768px) {
    .photo-banner{
        height: 15vh;
    }
}