@import '../../../vars.scss';
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        height: 300px;
        width: 300px;
        margin: 50px;
    }
    form{
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .desc{
            color: $dark-background;
            font-family: "Kerad";
            font-style: italic;
            text-transform: uppercase;
            text-align: center;
            font-style: 12px;
        }
        .form-group{
            width: 100%;
            margin: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
    input{
        background: none;
        border: none;
        font-family: "Kerad";
        width: 80%;
        text-align: center;
        font-size: 40px;
        line-height: 30px;
        border-bottom: 1px solid $dark-background;
        padding-bottom: 10px;
        &:focus{
            outline: none;
            // text-decoration: underline;
            // text-decoration-color: $accent;
            // text-decoration-thickness: 2px; 
            border-bottom: 2px solid $accent;
            &::placeholder{
                opacity: 0;
            }
            &::-webkit-input-placeholder {
                opacity: 0;
            }
        }
        &::placeholder{
            color: $dark-background;
            text-transform: uppercase;
            // font-size: 20px;
        }
        &.incorrect{
            text-decoration: underline dotted red;
        }
    }
    button{
        margin: 50px;
    }
    .invalid-feedback{
        text-align: center;
        color: $accent;
        font-family: "Kerad";
        font-style: italic;
        text-transform: uppercase;
        margin: 15px;
        font-size: 16px;
        min-height: 25px;
    }
}
@media (max-width:750px) {
    .container{
        form{
            width: 100vw;
        }
        input{
            font-size: 20px;
            // width: 95vw;
            // &::placeholder{
            //     color: $dark-background;
            //     text-transform: uppercase;
            //     // font-size: 12px;
            // }
        }
        .invalid-feedback{
            font-size: 12px;
        }
    }
    
}