<div class="container">
        <div class="card-header">
            <img src="./assets/images/AV-clear.png" />
          <h1 class="mb-0">Amanda & Volney</h1>
        </div>
        <div class="card-body">
          <form class="form" #f="ngForm">
            <div class=desc>Enter the password found on your save the date or invitation</div>
            <div class="form-group">
              <!-- <label for="password">Password</label> -->
              <input type="password" placeholder="Password" [(ngModel)]="loginUserData.password" (keyup.enter)="loginUser()" #password="ngModel" name="password"  class="form-control rounded-0"  [ngClass]="{ 'incorrect':  password.errors?.incorrect && password.dirty }"  required >
                <div  class="invalid-feedback">
                    <ng-container *ngIf="password.invalid && f.touched">
                        <div *ngIf="password.errors.required">Password is required to access this site</div>
                  <div *ngIf="password.errors.incorrect">Password is incorrect</div>
                    </ng-container>
                  
                </div>
            </div>
  
            <button [disabled]= "!f.form.valid" type="button" (click)="loginUser()" class="btn btn-success float-right">
              Submit
            </button>
          </form>
        </div>
  </div>