img {
    width: 100%;
  }
  
  .masonry {
      column-count: 5;
      column-gap: 16px;
      padding: 16px;
      background-color: black;
  }
  
  .masonry .mItem {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
  }
  
  @media (max-width: 1199px) {
    .masonry {
      column-count: 4;
    }
  }
  
  @media (max-width: 991px) {
    .masonry {
      column-count: 3;
    }
  }
  
  @media (max-width: 767px) {
    .masonry {
      column-count: 2;
    }
  }
  