<div class="masonry">
    <div class="mItem" *ngFor="let image of images">
      <img src="{{image}}">
    </div>
  
    <!-- <div class="mItem">
      <img src="https://source.unsplash.com/random/100">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/50">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/600">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/200">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/500">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/400">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/30">
    </div>
    <div class="mItem">
      <img src="https://source.unsplash.com/random/10">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/20">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/60">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/80">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/300">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/200">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/100">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/50">
    </div>
    <div class="mItem">
      <img src="https://source.unsplash.com/random/600">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/500">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/400">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/30">
    </div>
    <div class="mItem">
      <img src="https://source.unsplash.com/random/10">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/20">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/60">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/80">
    </div>
    <div class="mItem">
      <img src="https://source.unsplash.com/random/300">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/200">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/100">
    </div>
  
    <div class="mItem">
      <img src="../../../assets/images/gallery/">
    </div>
    <div class="mItem">
      <img src="https://source.unsplash.com/random/600">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/500">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/400">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/30">
    </div>
    <div class="mItem">
      <img src="https://source.unsplash.com/random/10">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/20">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/60">
    </div>
  
    <div class="mItem">
      <img src="https://source.unsplash.com/random/80">
    </div> -->
  
  </div>