<div class=container>
    <div class=content>
        <div class=image>
            <img src="https://i.pinimg.com/564x/28/25/ac/2825ac0fe8aa65ba034eeaebf9168683.jpg" />
            <div class=text>Gifts</div>
        </div> 
    <div class=message>
        <p>We’ve been blessed with a comfortable home and all the essentials, so please don’t feel obligated to give us a gift. Your presence is our present! For those friends and family that do feel inclined to honor us with a gift, you can find our registry here.</p>
        <a href="https://www.myregistry.com/wedding-registry/amanda-easter-and-volney-richardson-frisco-tx/4248986" target="_blank"><button>REGISTRY</button></a>
    </div> 

    </div>
    
</div>