.video{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    iframe{
        height: 80%;
        width: 80%;
    }
}