<div class=container>
  <div class=moon></div>  
  <div class=text>
      <h1>THE PROPOSAL</h1>
      <p>Amanda suspected the day might be right due to Volney's more-than-usual enthusiastic participation in her idea to have a picnic to watch the solar eclipse. The sky was cloudy that morning and it seemed doubtful the eclipse would be visible. Fortunately, as the afternoon heat burned off the clouds it made for perfect conditions for our picnic. Amanda set up the camera and blanket while Volney grabbed charcuterie from the store and chilled two of the bottles of rose we had picked out together in Italy. We watched with our neighbors as the moon slowly covered the sun and the world went dark, a truly awe inspiring experience. It was there, with the giant ring slowly disappearing from the sky that Volney presented a ring of his own.</p>
      <p>A promise of love, commitment, and a lifetime of adventures together.</p>
    </div>
</div>
