@import '../../../vars.scss';

:host{
// keyframes
@keyframes cresent {
  0% {
    transform: translate(300px, -300px) scale(0.9);
    box-shadow: none;
    background-color: $neutral-background;
  }
  100% {
    transform: translate(0px, 0px) scale(1.02);
    box-shadow: 0 0 10px lighten($moon, 30%), 0 0 80px 8px $moon;
    background-color: $background;
  }
  // 60% {
  //   transform: translate(0px, 0px) scale(1.02);
  //   box-shadow: 0 0 10px lighten($moon, 30%), 0 0 80px 8px $moon;
  //   background-color: $peak;
  // }
  // 100% {
  //   transform: translate(200px, -200px) scale(0.9);
  //   box-shadow: none;
  // }
}
@keyframes cresent-out {
  0% {
      transform: translate(0px, 0px) scale(1.02);
      box-shadow: 0 0 10px lighten($moon, 30%), 0 0 80px 8px $moon;
      background-color: $background;
    }
    100% {
      transform: translate(-300px, 300px) scale(0.9);
      box-shadow: none;
      background-color: $neutral-background;
    }
}
@keyframes bg-in {
  0% {
    background-color: #dfd7cf;
    color: black;
  }
  100% {
    background-color: $sky-dark;
    color: white;
    text-shadow: black 1px 0 10px;
  }
}
@keyframes bg-out {
  
  0% {
    background-color: $sky-dark;
    color: white;
    text-shadow: black 1px 0 10px;
  }
  100% {
    background-color: $neutral-background;
    color: black;
  }
}


.container{
box-sizing: border-box;
// position: relative;
}

*,*::after, *::before{
box-sizing: inherit;
}

.container{
min-height: 100vh;
}

.container{
  position: relative;
  padding-top: 100px;
  z-index: -1;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
//   background-image: linear-gradient(30deg, $background, darken($background, 13%));
// overflow: hidden;
transition: all 2s ease;
&.animate-in{
    animation: 3.2s bg-in linear forwards;
}
&.animate-out{
  animation: 3.2s bg-out linear forwards;
}
  .text{
      margin: 100px;
      // font-size: 35px;
      z-index: 3;
      line-height: 50px;
      width: 50%;
      text-align: center;
      font-size: 20px;
  }


}

.moon{

background-color: white;
width: 12rem;
height: 12rem;
border-radius: 50%;
position: relative;
box-shadow: 0 0 10px lighten(whitesmoke, 30%), 0 0 80px 8px whitesmoke;
&::before{
  content: '';
  // background-image: linear-gradient(30deg, darken($background,4.6%), darken($background, 8.3%));
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 1;
  // animation: 5s cresent linear infinite alternate;
}
}

.animate-moon {
  &::before{
      animation: 3.2s cresent linear forwards;
    }
}
.animate-moon-out{
  &::before{
      animation: 3.2s cresent-out linear forwards;
    }
}


.us-container {
// margin: auto;
// max-width: 1000px;
// display: grid;
// grid-template-columns: auto 1fr auto;
// grid-gap: .5em;
// background: $light-background;
// height: calc(100vh - 81px);
// padding-top: 81px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
// position: absolute;
// left: 0;
//    right: 0;
z-index: 5;
padding-top: 30px;
margin-top: -12rem;
}
.content{
display: flex;
// flex-wrap: wrap;
justify-content: space-evenly;
}
main {
max-width: 600px;
// margin: 50px 100px 50px 100px;
margin: 30px;
text-align: justify;
font-size: 14px;
}
img {
width: 60%;
max-width: 400px;
box-shadow: -50px -50px 0 -40px white, 50px 50px 0 -40px white;
}
p:first-child {
margin-top: 0;
}
p:last-child::after {
content: ' ■';
opacity: 0.2;
}
/* Title Layout */
h1{
  margin-bottom: 2.5rem;
}
h1 span {
display: block;
}
.focusing {
margin-bottom: -10px;
line-height: 2.75rem;
}
.the {
transform: translateY(50%);
// background: $light-background;
width: 50px;
margin: auto;
}
.heart {
// border: thin solid black;
border-width: thin 0;
padding: 1rem 0 0;
line-height: 3.75rem;
}
/* Typography */
h1 {
text-align: center;
}
.focusing {
font-family: 'Magic Bright';
text-transform: uppercase;
font-size: 2.75rem;
}
.the {
font-family: 'Magic Bright';
text-transform: uppercase;
font-size: 1.5rem;
}
.heart {
font-family: 'Magic Bright';
text-transform: uppercase;
font-size: 3.75rem;
}
cite {
font-family: 'Kerad';
font-style: normal;
text-transform: uppercase;
text-align: center;
margin: 15px;
}
.name {
font-weight: 900;
}
main {
font-family: 'abril-text';
}
.dropcap {
font-family: 'brandon-grotesque';
text-transform: uppercase;
font-size: 0.9em;
letter-spacing: 0.1em;
}
aside {
font-family: 'Kerad';
font-style: italic;
text-align: center;
text-transform: uppercase;
}

@media (max-width: 768px) {
  .moon{
    width: 160px;
    height: 160px;
  }
  
  .container{
    height: auto;
    // position: unset;
    padding-top: 100px;
    .text{
      width: 90%;
      margin: 10px;
      font-size: 14px;
      line-height: 30px;
    }
    main{
      margin: 10px;
    }
    .us-container{
      position: unset;
      margin-top: -200px;
      .content{
        flex-wrap: wrap;
      }
    }
  }
  }

@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .moon{
    width: 160px;
    height: 160px;
  }
  
  .container{
    height: auto;
    // position: unset;
    padding-top: 100px;
    .text{
      width: 90%;
      margin: 10px;
      font-size: 14px;
      line-height: 30px;
    }
    main{
      margin: 15px;
      max-width: 360px;
    }
    .us-container{
      position: unset;
      margin-top: -200px;
      img{
        width: 40%;
      }
      .content{
        flex-wrap: nowrap;
        width: 100%;
        margin-top: 50px;

      }
    }
  }
    
}
/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1180px) 
and (orientation : landscape) {
  .moon{
    width: 160px;
    height: 160px;
  }
  
  .container{
    height: auto;
    // position: unset;
    padding-top: 100px;
    .text{
      width: 90%;
      margin: 10px;
      font-size: 14px;
      line-height: 30px;
    }
    main{
      margin: 10px;
      max-width: 500px;
    }
    .us-container{
      position: unset;
      margin-top: -200px;
      img{
        width: 40%;
      }
      .content{
        margin-top: 50px;
      }
    }
  }
}
}
