
    <ng-container *ngFor="let category of faqs">
      <cdk-accordion class="example-accordion">
        <div class=icon><i class="{{category.icon}} fa-lg faq-icon"></i></div>
        <h2>{{category.name}}</h2>
        <cdk-accordion-item
          *ngFor="let faq of category.questions"
          #faqItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [ngClass]="faqItem.expanded ? 'open' : ''"
  >
          <div class="question-header" (click)="faqItem.toggle()" [ngClass]="faqItem.expanded ? 'open' : ''">
            <!-- <div class="arrow-icon" [ngClass]="{ 'arrow-rotate': faqItem.expanded }">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><g id="Right-2" data-name="Right"><polygon points="17.5 5.999 16.793 6.706 22.086 11.999 1 11.999 1 12.999 22.086 12.999 16.792 18.294 17.499 19.001 24 12.499 17.5 5.999" /></g></svg>
            </div> -->
            <div class="question">
              {{faq.question}}
            </div>
          </div>
          <div
            class="answer"
            role="region"
            [ngClass]="faqItem.expanded ? 'expanded' : ''"
            [attr.id]="'accordion-body-' "
            [attr.aria-labelledby]="'accordion-header-' "
            [innerHTML]="faq.answer"
            >
            
          </div>
        </cdk-accordion-item>
        
  
      
    </cdk-accordion>
    </ng-container>
