@import "../../../vars.scss";
// .container{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-wrap: wrap;
//     padding-top: 81px;
//     flex-direction: column;
//     min-height: 100vh;
//     .content{
//       display: flex;
//       align-items: flex-start;
//       justify-content: center;
//       flex-wrap: wrap;
//       padding: 50px;
//       width: 75%;
//       .image{
//         position: relative;
//         height: 90%;
//         margin: 50px;
//         img{
//             height: 100%;
//                 width: auto;
//         }
//         .text{
//             position: absolute;
//             top: 25%;
//             left: 50%;
//             transform: translate(-50%, -50%);
//             // background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
//             padding: 20px;
//             color: white;
//             text-align: center;
//             text-transform: uppercase;
//             font-family: "Brogadier";
//             font-size: 50px;
//         }
//     }
      
//   }
    // background: linear-gradient(0deg, black 50%, white 50%);
    cdk-accordion{
        width: 100%;
        height: 100%;
        font-family: 'Tropical', sans-serif;
        &:not(:first-of-type){
          margin-top: 100px;
        }
        // margin: 50px;
            /* Hide accordion items that are not expanded */
  //   &:has(.open){
  //     cdk-accordion-item:not(.open) {
  //     display: none;
  //   }
  // }
    }
    h2{
      text-transform: uppercase;
    }
    .icon{
      width:100%;
      display: flex;
      justify-content: center;
    }
    .faq-icon{
      color: $forest;
      margin: 1rem;
    }


    .example-accordion {
        display: block;
        // max-width: 600px;
        background-color: $neutral-background;
      }

      .arrow-icon {
        min-width: 15px;
        width: 15px;
        height: 15px;
        min-height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        // border-top: 2px solid black;
        // border-right: 2px solid black;
        // transform: rotate(-45deg);
        transition: transform 0.3s ease;
      }
      
      .arrow-rotate {
        transform: rotate(180deg);
      }
      
      
      .example-accordion-item {
        display: block;
        border: solid 1px $dark-background;
        border-right: none;
        border-left: none;
        padding: 0 2rem 0 2rem;
        transition: max-height .3s ease-in-out;
        &.open{
          border-top: solid 1px $dark-background;
          
        }
      }
      
      .example-accordion-item + .example-accordion-item {
        // &:not(.open) {
          border-top: none;
        // }
        
      }
      
      .question-header {
        display: flex;
        align-content: center;
        justify-content: space-between;
        margin: 15px;
        // &.open{
        //     background-color: #eee
        // }
      }
      
      .question {
        font-size: 1rem;
        color: black;
        text-align: center;
        // margin-left: 10px;
        flex-grow: 1;
        font-family: 'Kerad';
        text-transform: uppercase;
        font-style: italic;
        letter-spacing: .5px;
      }
      
      .question-header,
      .answer {
        padding: .8rem;
        text-align: justify;
      }

      .answer {
        // background-color: #eee;
        line-height: 1.25rem;
        font-family: "Lora";
        font-size: 1rem;
        // height: 0px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        max-height: 0px;
        
        transition: all .3s ease-in-out;
        &.expanded{
          max-height: 700px;
          padding-bottom: 15px;
        }
      }
      
      .question-header:hover {
        cursor: pointer;
        .question{
          color: $rose;
        }
        .arrow-icon{
          svg{
            fill: $accent;
          }
          
        }
        
        // background-color: #eee;
      }

// }
@media (max-width: 768px) {

  .answer{
    &.expanded{
      max-height: 1500px;
    }
  }

  }
  @media only screen
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    cdk-accordion{
      width: 100%;
      font-family: 'Tropical', sans-serif;
      margin: 0px;
      // min-height: 670px;
    }  
    .example-accordion-item{
      height: auto;
      &.open{
        min-height: 670px;
      }
    }
      
  }
  /* iPads (landscape) ----------- */
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1180px) 
  and (orientation : landscape) {
    cdk-accordion{
      width: 100%;
      font-family: 'Tropical', sans-serif;
      margin: 0px;
      min-height: 650px;
    }  
    .example-accordion-item{
      height: auto;
      &.open{
        min-height: 650px;
      }
    }
  }
  
// }