
<div class=container>
    <div class=content>
        
        <div class=header>
            <h5>Please join</h5>
           <h1>Amanda & Volney</h1> 
           <h5>as they exchange thier vows and celebrate their marriage with family and friends</h5>
        </div>
        <div class=divider></div>
        <div class=info>
            <div class="text">
                <div>
                    <h2>Night Before</h2>
                    <h5>July 31, 2025</h5>
                    <h5>Rehearsal Dinner @ The Pavillion, 6PM</h5>
                    <p>We invite all of our guests to join us for our rehearsal dinner the night before the wedding.</p>
                </div>
                <div class=wedding>
                    <h2>The Wedding</h2>
                    <h5>August 1, 2025</h5>
                    <h5>Ceremony @ The Gazebo, 5PM</h5>
                    <p>The ceremony will be held at the Gazebo by the beach. To ensure punctuality, we request our guests arrive 15 minutes prior to the ceremony.</p> 
                </div>
           
            </div>
            <div class=details>
                <h2>Our Wedding Party</h2>
                <div class="party">
                    <div class=person>
                        <div class=image>
                          <img src="https://source.unsplash.com/random/300x300/?people" />  
                        </div>
                        
                        <div class=name>Ezra Richardson</div>
                        <div class=title>Best Man</div>
                    </div>
                    <div class=person>
                        <div class=image>
                          <img src="https://source.unsplash.com/random/300x300/?people&1" />  
                        </div>
                        
                        <div class=name>Eric Samuelson</div>
                        <div class=title>Groomsman</div>
                    </div>
                    <div class=person>
                        <div class=image>
                          <img src="https://source.unsplash.com/random/300x300/?people&2" />  
                        </div>
                        
                        <div class=name>Ethan Berney</div>
                        <div class=title>Groomsman</div>
                    </div>
                    <div class=person>
                        <div class=image>
                          <img src="https://source.unsplash.com/random/300x300/?people&3" />  
                        </div>
                        
                        <div class=name>Nic Rhodes</div>
                        <div class=title>Officiant</div>
                    </div>
                    <div class=person>
                        <div class=image>
                          <img src="https://source.unsplash.com/random/300x300/?people&4" />  
                        </div>
                        
                        <div class=name>Ali Henkemeyer</div>
                        <div class=title>Maid of Honor</div>
                    </div>
                    <div class=person>
                        <div class=image>
                          <img src="https://source.unsplash.com/random/300x300/?people&5" />  
                        </div>
                        
                        <div class=name>Abby Richardson</div>
                        <div class=title>Bridesmaid</div>
                    </div>
                    <div class=person>
                        <div class=image>
                          <img src="https://source.unsplash.com/random/300x300/?people&6" />  
                        </div>
                        
                        <div class=name>Marae Rhodes</div>
                        <div class=title>Bridesmaid</div>
                    </div>
                </div>
            </div> 
        </div>
        <div class=divider></div>
        <app-countdown></app-countdown>
    </div>
    

    
</div>
