@import '../../../vars.scss';
:host{
    .container{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        // padding-top: 81px;
        background-image: url('https://muralsyourway.vtexassets.com/arquivos/ids/233673/Green-Leaves-Of-Monstera-Philodendron-Wall-Mural.jpg?v=638164487524500000');
        background-size: cover; /* Ensures the background image covers the entire container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating vertically */
        .content{
            width: 85%;
            box-sizing: border-box;
            height: 100%;
            padding-top: var(--menu-height);
            background: $neutral-background;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .divider{
                width: 75%;
                height: 0px;
                margin: 10px;
                border-top: 1px solid $dark-background;
              }
        }
    }
    .header{
        h5{
            text-transform: uppercase;
            color: black;
        }
        h1{
            // color: $forest;
        }
    }
    .info{
        display: flex;
        align-items: center;
        justify-content: center;
        // width: 100%;
        height: 70%;
        .wedding{
            margin-top: 50px;
        }
        h2{
            text-transform: uppercase;
        }
        .text{
            text-align: center;
            max-width: 500px;
            p{
                font-size: 12px;
            }
        }
    }
    .details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .party{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .person{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: .5rem;
                .image{
                    width: 75px; /* Set the desired width for the event container */
                    height: 75px; /* Set the desired height for the event container */
                    overflow: hidden; /* Hide any content that exceeds the container dimensions */
                    position: relative; /* Establish a positioning context */
                    border-radius: 100%;
                    margin: 10px;
                }
                img{
                    width: 100%; /* Ensure the image occupies 100% of the container's width */
                    height: 100%; /* Ensure the image occupies 100% of the container's height */
                    object-fit: cover; /* Maintain the aspect ratio of the image and cover the entire container */
                    object-position: center; /* Position the image at the center of the container */
                    display: block; /* Ensure the image is displayed as a block element */
                }
                .name,.title{
                    text-align: center;
                    // margin: 5px;
                    font-size: .9rem;
                }
                .name{
                    // color: $navy;
                    font-family: "Ethereal";
                    margin: 3px;
                }
                .title{
                    color: $rust;
                    font-family: "Kerad";
                    font-style: italic;
                    text-transform: uppercase;
                    font-size: .75rem;
                }
            }
        }
    }
    .text,.details{
        padding: 25px;
        box-sizing: border-box;
        // flex-grow: 1;
        min-width: 43%;
    }
    app-countdown{
        width: 100%;
    }
    @media (max-width:750px) {
        .container{
            height: auto;
            .content{
                flex-wrap: wrap;
                width: 90%;
            } 
        }
        .info{
            flex-wrap: wrap;
            margin: 10px;
        }
        .details{
            width:100%;
            margin: 10px;
        }
        
    }
    @media only screen
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait) {
        .container{
            height: auto;
            min-height: 100vh;
            .content{
                // flex-wrap: wrap;
                width: 90%;
                min-height: 100vh;
                justify-content: space-evenly;
            } 
        }
        .info{
            flex-wrap: wrap;
            margin: 10px;
            height: auto;
        }
        .details{
            width:100%;
            margin: 10px;
            height: auto;
        }
        
    }
    /* iPads (landscape) ----------- */
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1180px) 
    and (orientation : landscape) {
        .container{
            height: auto;
            .content{
                flex-wrap: wrap;
                width: 90%;
            } 
        }
        .info{
            flex-wrap: wrap;
            margin: 10px;
        }
        .details{
            width:100%;
            margin: 10px;
        }
    }
}