
<div class=container>
    <div class=content>
        
        <div class=header>
            <h5>Please join</h5>
           <h1>Amanda & Volney</h1> 
           <h5>as they exchange thier vows and celebrate their marriage with family and friends</h5>
        </div>
        <div class=info>
            <div class="text">
                <div>
                    <h2>Night Before</h2>
                    <h5>July 31, 2025</h5>
                    <h5>Rehearsal Dinner @ The Pavillion, 6PM</h5>
                    <p>We invite all of our guests to join us for our rehearsal dinner the night before the wedding.</p>
                </div>
                <div class=wedding>
                    <h2>The Wedding</h2>
                    <h5>August 1, 2025</h5>
                    <h5>Ceremony @ The Gazebo, 5PM</h5>
                    <p>The ceremony will be held at the Gazebo by the beach. To ensure punctuality, we request our guests arrive 15 minutes prior to the ceremony.</p> 
                </div>
           
            </div>
        <div class=faqs>
            <h1>FAQs</h1>
            <app-faqs></app-faqs>
        </div> 
        </div>
        <app-countdown></app-countdown>
    </div>
    

    
</div>
