<div class=container>
    <div class=content>
        <h1>Travel</h1>
        <div class=desc>For your convience, we have retained the services of a travel agent to assist in booking your transportation and lodging. It is not required to book through our agent, but we highly recommend it for the ease of planning and to ensure our guests get the best price available.</div>
        <div class=info>
            <div class=agent>

                <div class=text>
                    <h2>Resort Brochure</h2>
                    <h4>Lodging</h4>
                    <p>The link provided here is for our hotel brochure. You'll find information about the resort, rooms, and amenities. The room options available to you are listed on page 3. </p>
                    <p>Rates are per person for the entire 3-night stay (Thursday, July 30th - Sunday, August 2nd). You can fill out page 4 of this brochure and email it to Jack Benoff at jack@vacationeeze.com</p>  
                    <p>While it is not strictly required for our guests to stay at the resort, we politely request that they do if possible as it helps us with planning, transport, and budgeting. It also allows you the opportunity to get to know your fellow guests, spend time with the happy couple, and enjoy a resort we can personally recommend! If you do plan to stay elsewhere, please let us know on your RSVP.</p>
                </div>
                
                <a href="https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTA3LTMwagwIAhIIL20vMGYycnFyBwgBEgNDVU4aIxIKMjAyNC0wOC0wM2oHCAESA0NVTnIMCAISCC9tLzBmMnJxQAFIAXABggELCP___________wGYAQE" target="_blank">
                    <button>Travel Broschure</button>
                </a> 
            </div>
            <div class=divider></div>
            <div class=other>
                
                <div class=text>
                    <h2>Cancun International Airport</h2>
                    <h4>Flight</h4>
                    <p>Transportation to and from the airport will be provided to you. Once you make your travel arrangements let our travel agent (Jack) know and we will coordinate to have you picked up from the airport. Travel time to the resort is approximately 30 minutes.</p>
                    <p>If you would like to attend any of the wedding events prior to the ceremony, we recommend landing by 3pm to allow time for travel and settling in at the resort. You can view the schedule of wedding weekend events on the events page of this site. </p>
                    <p>If you are arriving the day of the wedding we highly recommend you select a morning flight to allow for any difficulties or delays.</p>
                </div>

                <a href="https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI0LTA3LTMwagwIAhIIL20vMGYycnFyBwgBEgNDVU4aIxIKMjAyNC0wOC0wM2oHCAESA0NVTnIMCAISCC9tLzBmMnJxQAFIAXABggELCP___________wGYAQE" target="_blank">
                    <button>Find a Flight</button>
                </a> 
            </div>
            
        </div>
    </div>
    <div class='faq content'>
        <h1>Frequently Asked Questions</h1>
        <h4>Click to see responses</h4>
        <app-faqs></app-faqs>
    </div>
</div>