<div class=container>
    <div class="updates-preview content" *ngIf="updates.length != 0">
        <i class="fa-solid fa-comment-dots fa-2x"></i>
        <h1>Updates</h1>
        <h4>Check here to find the latest updates on travel, booking, and more. You can recieve these updates like these via email by including your email address in your RSVP.</h4>
        <ng-container *ngIf="updates.length > 0">
            <div class=divider></div>
            
            <h2 class="update-title">{{updates[updateIndex].title}}</h2>
            <p class="date">{{updates[updateIndex].date}}</p>
            <p class="update-body" [innerHtml]="updates[updateIndex].body"></p>
            <div class=divider></div>
        </ng-container>
        <div class="updates-nav" *ngIf="updates.length > 1">
            <button (click)="updatesIndex(1)">Back</button>
            <p>{{updates.length-updateIndex}} of {{updates.length}}</p>
            <button (click)="updatesIndex(-1)">Next</button>
        </div>
    </div>
    <div class=content>
        <i class="fa-solid fa-plane-up fa-2x"></i>
        <h1>Travel</h1>
        <div class=desc>For your convience, we have retained the services of a travel agent to assist in booking your transportation and lodging.</div>
        <div class=info>
            <div class=agent>

                <div class=text>
                    <h2>Resort</h2>
                    <h4>Booking & Room Block</h4>
                    <p>We are excited to invite you to our wedding at the fabulous Secrets Maroma hotel in Riviera Cancun! We have partnered with Hola Weddings and they have helped us secure rooms at the hotel at preferential rates. They will also assist you with any questions, send you hints and tips about travel, and help you schedule your airport transportation.</p>
                    <p>Our booking website can be found below. Please use this site to book your rooms.</p>
                    
                    <p>Please whitelist hola&#64;holaweddings.com so you receive their emails. If you need to reach the Hola Weddings team, you can call 1-888-472-7077 or +52 5510361373</p>
                    
                </div>
                <div class=mobile-buttons>
                    <a href="https://avrichardson.hola-weddings.com/" target="_blank">
                        <button>Booking Site</button>
                    </a> 
                </div>

            </div>
            <div class=divider></div>
            <div class=other>
                
                <div class=text>
                    <h2>Cancun International Airport</h2>
                    <h4>Flights  & Ground Transport</h4>
                    <p>Transportation to and from the airport will be provided to through our travel agency. Once you make your travel arrangements let our travel agent (Leticia) know and we will coordinate to have you picked up from the airport. This is a private shuttle, so you will only share if other wedding guests are arriving at the same time. Travel time to the resort is approximately 30 minutes.</p>
                    <p>We recommend morning flights to get the most out of your time at the resort! You can view the schedule of wedding weekend events on the events page of this site. </p>
                </div>
                <div class=mobile-buttons>
                    <a href="https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI1LTEwLTA5agwIAhIIL20vMGYycnFyBwgBEgNDVU4aIxIKMjAyNS0xMC0xMmoHCAESA0NVTnIMCAISCC9tLzBmMnJxQAFIAXABggELCP___________wGYAQE&tfu=EgoIABAAGAAgASgC" target="_blank">
                        <button>Find a Flight</button>
                    </a> 
                </div>
                
            </div>
            
        </div>
        <div class=buttons>
            <a href="https://avrichardson.hola-weddings.com/" target="_blank">
                <button>Booking Site</button>
            </a> 
            <a href="https://www.google.com/travel/flights/search?tfs=CBwQAhojEgoyMDI1LTEwLTA5agwIAhIIL20vMGYycnFyBwgBEgNDVU4aIxIKMjAyNS0xMC0xMmoHCAESA0NVTnIMCAISCC9tLzBmMnJxQAFIAXABggELCP___________wGYAQE&tfu=EgoIABAAGAAgASgC" target="_blank">
                <button>Find a Flight</button>
            </a> 
        </div>
    </div>
    
    <div class='faq content'>
        <i class="fa-solid fa-person-circle-question fa-2x"></i>
        <h1>Frequently Asked Questions</h1>
        <h4>Click to see responses</h4>
        <app-faqs></app-faqs>
    </div>
</div>