
/* You can add global styles to this file, and also import other style files */
@import './vars.scss';
@font-face {
    font-family: 'Manuscribe';
    src: url('./assets/fonts/ManuscribeFree-Regular.otf');
  }
  @font-face {
    font-family: 'Libre';
    src: url('./assets/fonts/LibreBaskerville-Regular.otf');
  }
  @font-face {
    font-family: 'Tropical';
    src: url('./assets/fonts/tropical-avenue.ttf');
  }
  @font-face {
    font-family: 'Amoun';
    src: url('./assets/fonts/Amoun.ttf');
  }
  @font-face {
    font-family: 'Lanche';
    src: url('./assets/fonts/Lanche_Demo.ttf');
  }
  @font-face {
    font-family: 'Kuano';
    src: url('./assets/fonts/Kuano_Demo.ttf');
  }
  @font-face {
    font-family: 'Kerad';
    src: url('./assets/fonts/kerad-serif-2.ttf');
  }
  @font-face {
    font-family: 'Quackey';
    src: url('./assets/fonts/QuackeyFree-Regular.otf');
  }
  @font-face {
    font-family: 'Brogadier';
    src: url('./assets/fonts/brogadier.ttf');
  }
  @font-face {
    font-family: 'Mayfest';
    src: url('./assets/fonts/Mayfest_Regular\ -\ Demo.ttf');
  }
  @font-face {
    font-family: 'Feonie';
    src: url('./assets/fonts/feonie-2.otf');
  }
  @font-face {
    font-family: 'Ethereal';
    src: url('./assets/fonts/Ethereal-Thin.otf');
  }
  
  h1{
    font-family: 'Tropical', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
  h2,h3,h4{
    font-family: 'Tropical', sans-serif;
    letter-spacing: 1px;
    text-align: center;
  }
  h5,h6{
    font-family: 'Ethereal', serif;
    letter-spacing: 1px;
    text-align: center;
  }
  p{
    font-family: 'Libre', sans-serif;
  }
  html{
      background: $neutral-background;
  }
  body{
      margin: 0px;
  }
  button{
    font-family: 'Quackey', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    &:hover{
      background-color: $moon;
      color: black;
    }
  }
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
