// colors

$sky-dark: #454f57;
$moon: #fdfce8;
$peak: #efdbd8;
$mobile: 768px;
$menu: #ebe7e2;
$light-background: #f7f5f3;
$neutral-background: #f1eeea;
$dark-background: #bcb8b4;
$accent: #777a5e;
$accent-dark: #67745a;

$navy: #30354B;
$forest: #295427;
$sage: #777a5e;
$sand: #d6cdc2;
$dune: #C3A483;
$coral: #E1AA8E;
$rose: #bb7b6d;
$rust: #b45434;
$terracotta: #8A3519;
$background: $navy;
:root {
    --menu-height: 51px;
  }
  
  @media (max-width: 750px) {
    :root {
      --menu-height: 46px;
    }
  }