// colors
$background: #30373c;
$sky-dark: #454f57;
$moon: #fdfce8;
$peak: #efdbd8;
$mobile: 768px;
$menu: #ebe7e2;
$light-background: #f7f5f3;
$neutral-background: #f1eeea;
$dark-background: #bcb8b4;
$accent: #819171;
$accent-dark: #67745a;
:root {
    --menu-height: 81px;
  }
  
  @media (max-width: 750px) {
    :root {
      --menu-height: 46px;
    }
  }