<div class=menu-container>
<div class=menu>
      <a pageScroll href="#home" [class.active]="this.activeSection=='home'">home</a>
    <a pageScroll href="#ourstory" [class.active]="this.activeSection=='ourStory'">our story</a>
    <a pageScroll href="#proposal" [class.active]="this.activeSection=='proposal'">proposal</a>
    <a pageScroll href="#thebigday" [class.active]="this.activeSection=='thebigday'">the big day</a>
    <a pageScroll href="#schedule" [class.active]="this.activeSection=='schedule'">schedule</a>
    <a pageScroll href="#travel" [class.active]="this.activeSection=='travel'">travel</a>
    <a pageScroll href="#faqs" [class.active]="this.activeSection=='faqs'">faqs</a>  
    <a pageScroll href="#photos" [class.active]="this.activeSection=='photos'">photos</a>  
</div>


</div>
