@import '../../../vars.scss';
.menu-container{
    padding: 20px;
    position: fixed;
    top: 100px;
    right: 0px;
    margin-left:auto;
    display: block;
    z-index: 999;
    .menu{
        display: flex;
        flex-direction: column;
        text-align: right;
        line-height: 30px; 
        a{
            color:$moon;
            text-decoration: none;
            &.visited{
                color: $moon;
            }
            &.active{
                &::before {
                    content: "";
                    background-color: $moon;
                    height: 8px;
                    width: 8px;
                    border-radius: 100%;
                    display: inline-block;
                    margin-right: 8px;
                    box-shadow: 0 0 5px lighten(whitesmoke, 30%), 0 0 10px 1px whitesmoke;
                  }
            }
        }
    }
    
  }
  .header, .mobile-header{
    //   visibility: hidden;
      width: 100%;
      display: flex;
  justify-content: space-between;
  align-items: center;
      z-index: 999;
      height: 0px;
      position: fixed;
      background: rgba(255, 255, 255, 0.2);
    //   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    //   border: 1px solid rgba(255, 255, 255, 0.3);
    //   border-bottom: 1px solid black;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, color */
      overflow: hidden;
      transition: height 0.3s ease;
      .left, .right{
          display: flex;
          align-items: center;
          width: 40%;
      }
      .left{
        justify-content: flex-end;
      }
      .center{
          display: flex;
          flex: 1;
          align-items:center;
          justify-content: center;
      }
      &.expanded{
        //   visibility: visible;
          height: 50px;
      }
      img{
          width: 40px;
          height: 40px;
      }
      a{
          margin:.75rem;
        // color:white;
        text-decoration: none;
        text-transform: uppercase;
        font-style: italic;
        font-family: "Kerad";
        display: flex;
        color: black;
        &::before {
            content: "";
            align-self: center;
            // border-top: 1px solid black;
                height: 0px;
                width: 15px;
                // border-radius: 100%;
                display: inline-block;
                margin-right: 8px;
          }
        &.visited{
            color: black;
        }
        &.active{
            color: $rust;
            // &::before {
            //     content: "";
            //     align-self: center;
            //     // background-color: $moon;
            //     border-top: 1px solid white;
            //     height: 0px;
            //     width: 15px;
            //     // border-radius: 100%;
            //     display: inline-block;
            //     margin-right: 8px;
            //     // box-shadow: 0 0 5px lighten(whitesmoke, 30%), 0 0 10px 1px whitesmoke;
            //   }
        }
        &:hover{
            color: $terracotta;
        }
    }
  }
//   .mobile-header{
//       display: none;
//   }
  @media (max-width:750px) {
      .header{
          display: none;
      }
      .mobile-header{
          .body{
              display: flex;
          }
          .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60%;
          }
        .monogram{
            margin: 20px;
            margin-bottom: 10px;
            // img{
                height:150px;
                min-height: 150px;
                width:150px;
                background-image: url('~src/assets/images/av-logo-white.png');
                background-size: cover;
            // }
           
        } 
          .icon{
            fill: white;
            position: absolute;
            top: 10px;
            left: 10px;
            height: 20px;
            width: 20px;
          }
          height: 0px;
          background: $rust;
          .center h1{
              font-size: 20px;
              color: white;
              font-family: "Tropical", serif;
          }
        //   &.expanded{
            display: block;
            height: 45px;  
            &:has(.menu-items.expanded){
                height: 400px;
            }
            img{
                width: 55px;
                height: 55px;
                margin: 5px 10px 5px 10px ;
            }
            a{
                color: white;
                &.visited{
                    color: white;
                }
                &.active{
                    color: $dark-background
                }
            }
        //   }
          
          
      }
      .menu-items{
          height: 0px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          transition: height 200ms ease;
          width: 40%;
          img{
            width: 55px;
            height: 55px;
            margin: 5px 10px 5px 10px ;
        }
          &.expanded{
              height: 300px;
                // padding-top: 45px;
          }
      }
  }
  @media only screen
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    .header{
        display: none;
    }
    .mobile-header{
        .body{
            display: flex;
        }
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60%;
        }
        .monogram{
            margin: 20px;
            margin-bottom: 10px;
            // img{
                height:150px;
                min-height: 150px;
                width:150px;
                background-image: url('~src/assets/images/av-logo-white.png');
                background-size: cover;
            // }
           
        } 
        .icon{
          fill: white;
          position: absolute;
          top: 10px;
          left: 10px;
          height: 20px;
          width: 20px;
        }
        height: 0px;
        background: $rust;
        .center h1{
            font-size: 20px;
            color: white;
            font-family: "Tropical", serif;
        }
      //   &.expanded{
          display: block;
          height: 45px;  
          &:has(.menu-items.expanded){
              height: 400px;
          }
          img{
              width: 55px;
              height: 55px;
              margin: 5px 10px 5px 10px ;
          }
          a{
              color: white;
              &.visited{
                  color: white;
              }
              &.active{
                  color: $dark-background;
              }
          }
      //   }
        
        
    }
    .menu-items{
        height: 0px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: height 200ms ease;
        width: 40%;
        img{
          width: 55px;
          height: 55px;
          margin: 5px 10px 5px 10px ;
      }
        &.expanded{
            height: 300px;
              // padding-top: 45px;
        }
    }
  }
  